


/* GALLERY STYLES */
		#galley-overlay{
			cursor: pointer;
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			background:#000;
			opacity:.7;
			z-index:2000;
			display:none;
		} .gallery-image{
			position:relative;
			float:left;
			background:#fff;
		} .photo-image{
			cursor: pointer;
			position:relative;
			top:0px;
			left:0px;
			z-index:1000;
			opacity:1;
			transition: width 1s, top 1s, left 1s, opacity 1s, z-index .01s;
		} .photo-image:hover{
			top:-15px;
			left: 0px;
			z-index:1001;
			opacity:1;
		} .photo-selected{
			cursor:default;
			z-index:2001;
			width:500px;
			opacity:1;
			top:-20px;
			left:-200px;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
		} .photo-selected:hover{
			width:500px;
			top:-50px;
			left:-50px;
			z-index:2001;
			opacity:1;
			top:-20px;
			left:-200px;
		}
/* END GALLERY STYLES */



		
#maya-image-head {
	margin-top: vw;
	margin-left: 8vw;
	width: 600px !important;
	height: 600px !important;
	-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
}


.head-gallery-container {
  	width: 700px !important;
  	position: relative;
  	margin-top: 16vw !important;
  	margin-left: 36vw !important;
}
		
			.head-gallery-image{
			  	height:120px !important;
			  	width:120px !important;
			  	margin:18px !important;
			  	padding-top: 5px !important;
			} .head-photo-image{
				width:120px !important;
				-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
				-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
				box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
			} .head-photo-image:hover{
				width:120px !important;
			}
				
	
#maya-caption-1 {
	margin-top: 12vw;
	margin-left: 17vw;
	max-width: 385px;
}


.watch-gallery-container {
  	width: 600px !important;
  	position: relative;
  	margin-top: 14vw !important;
  	margin-left: 22vw !important;
}
		
			.watch-gallery-image{
			  	height:120px !important;
			  	width:120px !important;
			  	margin:18px !important;
			  	padding-top: 5px !important;
			} .watch-photo-image{
			  	width:120px !important;
			  	-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
			  	-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
			  	box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
			} .watch-photo-image:hover{
			  	width:120px !important;
			}


#maya-image-watch {
	margin-top: 16vw;
	margin-left: 44vw;
	width: 500px !important;
	height: 281px !important;
	-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
}

#maya-caption-2 {
	margin-top: 18vw;
	margin-left: 11vw;
	max-width: 350px;
}


#maya-video-bowling {
	width: 600px;
	height: 372px;
	margin-top: 18vw;
	margin-left: 20vw;
	-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
}


.bowling-gallery-container {
  	width: 600px !important;
  	position: relative;
  	margin-top: 48vw !important;
  	margin-left: 19vw !important;
}
		
			.bowling-gallery-image{
			  	height:100px !important;
			  	width:100px !important;
			  	margin:18px !important;
			  	padding-top: 5px !important;
			} .bowling-photo-image{
				width:100px !important;
				-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
				-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
				box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
			} .bowling-photo-image:hover{
				width:100px !important;
			}




#maya-caption-3 {
	margin-top: 18vw;
	margin-left: 40vw;
	max-width: 370px;
}


.scene-gallery-container {
  	width: 600px !important;
  	position: relative;
  	margin-top: 16vw !important;
  	margin-left: 44vw !important;
}
		
			.scene-gallery-image{
			  	height:100px !important;
			  	width:100px !important;
			  	margin:18px !important;
			  	padding-top: 5px !important;
			} .scene-photo-image{
				width:100px !important;
				-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
				-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
				box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
			} .scene-photo-image:hover{
				width:100px !important;
			}


#maya-image-scene {
	margin-top: 22vw;
	margin-left: 34vw;
	width: 500px !important;
	height: 281px !important;
	-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
}
	

#maya-process {
	margin-top: 10vw;
	margin-left: 33vw;
	padding-bottom: 400px;
}	
	


		

	
		
		
/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	#maya-caption-1,
	#maya-caption-2,
	#maya-caption-3,
	#maya-process {
		font-size: 8px !important;
		line-height: 12px !important;
	}
	
	
	#maya-image-head {
/* 		margin-top: vw; */
/* 		margin-left: 8vw; */
		width: 177px !important;
		height: 177px !important;
	}
	
	
	.head-gallery-container {
	  	width: 250px !important;
/* 	  	position: relative; */
/* 	  	margin-top: 16vw !important; */
/* 	  	margin-left: 36vw !important; */
	}
			
				.head-gallery-image{
				  	height:55px !important;
				  	width:55px !important;
				  	margin:13px !important;
				  	padding-top: 3px !important;
				} .head-photo-image{
					width:55px !important;
				} .head-photo-image:hover{
					width:55px !important;
				}
					
		
	#maya-caption-1 {
/* 		margin-top: 12vw; */
/* 		margin-left: 17vw; */
		max-width: 250px !important;
	}
	
	
	.watch-gallery-container {
	  	width: 273px !important;
	  	position: relative;
/* 	  	margin-top: 14vw !important; */
/* 	  	margin-left: 22vw !important; */
	}
			
				.watch-gallery-image{
				  	height:55px !important;
				  	width:55px !important;
				  	margin:9px !important;
				  	padding-top: 3px !important;
				} .watch-photo-image{
				  	width:55px !important;
				} .watch-photo-image:hover{
				  	width:55px !important;
				}
	
	
	#maya-image-watch {
/* 		margin-top: 16vw; */
/* 		margin-left: 44vw; */
		width: 227px !important;
		height: 127px !important;
	}
	
	#maya-caption-2 {
/* 		margin-top: 18vw; */
/* 		margin-left: 11vw; */
		max-width: 250px !important;
	}
	
	
	#maya-video-bowling {
		width: 273px;
		height: 169px;
/* 		margin-top: 18vw; */
/* 		margin-left: 20vw; */
	}
	
	
	.bowling-gallery-container {
	  	width: 273px !important;
	  	position: relative;
/* 	  	margin-top: 48vw !important; */
/* 	  	margin-left: 19vw !important; */
	}
			
				.bowling-gallery-image{
				  	height:46px !important;
				  	width:46px !important;
				  	margin:13px !important;
				  	padding-top: 3px !important;
				} .bowling-photo-image{
					width:46px !important;
				} .bowling-photo-image:hover{
					width:46px !important;
				}
	
	
	
	
	#maya-caption-3 {
/* 		margin-top: 18vw; */
/* 		margin-left: 40vw; */
		max-width: 210px;
	}
	
	
	.scene-gallery-container {
	  	width: 273px !important;
	  	position: relative;
/* 	  	margin-top: 16vw !important; */
/* 	  	margin-left: 44vw !important; */
	}
			
				.scene-gallery-image{
				  	height:46px !important;
				  	width:46px !important;
				  	margin:9px !important;
				  	padding-top: 3px !important;
				} .scene-photo-image{
					width:46px !important;
				} .scene-photo-image:hover{
					width:46px !important;
				}
	
	
	#maya-image-scene {
/* 		margin-top: 22vw; */
/* 		margin-left: 34vw; */
		width: 228px !important;
		height: 127px !important;
	}
		
	
	#maya-process {
/* 		margin-top: 10vw; */
/* 		margin-left: 33vw; */
		padding-bottom: 250px;
	}
}








/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1599px) {

	#maya-caption-1,
	#maya-caption-2,
	#maya-caption-3,
	#maya-process {
		font-size: 11px !important;
		line-height: 18px !important;
	}
	
	
	#maya-image-head {
/* 		margin-top: vw; */
/* 		margin-left: 8vw; */
		width: 420px !important;
		height: 420px !important;
	}
	
	
	.head-gallery-container {
	  	width: 490px !important;
/* 	  	position: relative; */
/* 	  	margin-top: 16vw !important; */
/* 	  	margin-left: 36vw !important; */
	}
			
				.head-gallery-image{
				  	height:84px !important;
				  	width:84px !important;
				  	margin:13px !important;
				  	padding-top: 3px !important;
				} .head-photo-image{
					width:84px !important;
				} .head-photo-image:hover{
					width:84px !important;
				}
					
		
	#maya-caption-1 {
/* 		margin-top: 12vw; */
/* 		margin-left: 17vw; */
		max-width: 330px;
	}
	
	
	.watch-gallery-container {
	  	width: 420px !important;
	  	position: relative;
/* 	  	margin-top: 14vw !important; */
/* 	  	margin-left: 22vw !important; */
	}
			
				.watch-gallery-image{
				  	height:84px !important;
				  	width:84px !important;
				  	margin:13px !important;
				  	padding-top: 3px !important;
				} .watch-photo-image{
				  	width:84px !important;
				} .watch-photo-image:hover{
				  	width:84px !important;
				}
	
	
	#maya-image-watch {
/* 		margin-top: 16vw; */
/* 		margin-left: 44vw; */
		width: 350px !important;
		height: 196px !important;
	}
	
	#maya-caption-2 {
/* 		margin-top: 18vw; */
/* 		margin-left: 11vw; */
		max-width: 350px;
	}
	
	
	#maya-video-bowling {
		width: 420px;
		height: 260px;
/* 		margin-top: 18vw; */
/* 		margin-left: 20vw; */
	}
	
	
	.bowling-gallery-container {
	  	width: 420px !important;
	  	position: relative;
/* 	  	margin-top: 48vw !important; */
/* 	  	margin-left: 19vw !important; */
	}
			
				.bowling-gallery-image{
				  	height:70px !important;
				  	width:70px !important;
				  	margin:13px !important;
				  	padding-top: 3px !important;
				} .bowling-photo-image{
					width:70px !important;
				} .bowling-photo-image:hover{
					width:70px !important;
				}
	
	
	
	
	#maya-caption-3 {
/* 		margin-top: 18vw; */
/* 		margin-left: 40vw; */
		max-width: 315px;
	}
	
	
	.scene-gallery-container {
	  	width: 420px !important;
	  	position: relative;
/* 	  	margin-top: 16vw !important; */
/* 	  	margin-left: 44vw !important; */
	}
			
				.scene-gallery-image{
				  	height:70px !important;
				  	width:70px !important;
				  	margin:13px !important;
				  	padding-top: 3px !important;
				} .scene-photo-image{
					width:70px !important;
				} .scene-photo-image:hover{
					width:70px !important;
				}
	
	
	#maya-image-scene {
/* 		margin-top: 22vw; */
/* 		margin-left: 34vw; */
		width: 350px !important;
		height: 196px !important;
	}
		
	
	#maya-process {
/* 		margin-top: 10vw; */
/* 		margin-left: 33vw; */
		padding-bottom: 300px;
	}
}







/* 1920 x 1080 */
@media screen and (min-width: 1600px) and (max-width: 2099px)	 {
}

		
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {

	#maya-image-head {
/* 		margin-top: vw; */
/* 		margin-left: 8vw; */
		width: 600px !important;
		height: 600px !important;
	}
	
	
	.head-gallery-container {
	  	width: 700px !important;
/* 	  	position: relative; */
/* 	  	margin-top: 16vw !important; */
/* 	  	margin-left: 36vw !important; */
	}
			
				.head-gallery-image{
				  	height:120px !important;
				  	width:120px !important;
				  	margin:18px !important;
				  	padding-top: 5px !important;
				} .head-photo-image{
					width:120px !important;
				} .head-photo-image:hover{
					width:120px !important;
				}
					
		
	#maya-caption-1 {
/* 		margin-top: 12vw; */
/* 		margin-left: 17vw; */
		max-width: 385px;
	}
	
	
	.watch-gallery-container {
	  	width: 600px !important;
	  	position: relative;
	  	margin-top: 14vw !important;
	  	margin-left: 22vw !important;
	}
			
				.watch-gallery-image{
				  	height:120px !important;
				  	width:120px !important;
				  	margin:18px !important;
				  	padding-top: 5px !important;
				} .watch-photo-image{
				  	width:120px !important;
				} .watch-photo-image:hover{
				  	width:120px !important;
				}
	
	
	#maya-image-watch {
/* 		margin-top: 16vw; */
/* 		margin-left: 44vw; */
		width: 500px !important;
		height: 281px !important;
	}
	
	#maya-caption-2 {
/* 		margin-top: 18vw; */
/* 		margin-left: 11vw; */
		max-width: 350px;
	}
	
	
	#maya-video-bowling {
		width: 600px;
		height: 372px;
/* 		margin-top: 18vw; */
/* 		margin-left: 20vw; */
	}
	
	
	.bowling-gallery-container {
	  	width: 600px !important;
	  	position: relative;
/* 	  	margin-top: 48vw !important; */
/* 	  	margin-left: 19vw !important; */
	}
			
				.bowling-gallery-image{
				  	height:100px !important;
				  	width:100px !important;
				  	margin:18px !important;
				  	padding-top: 5px !important;
				} .bowling-photo-image{
					width:100px !important;
				} .bowling-photo-image:hover{
					width:100px !important;
				}
	
	
	
	
	#maya-caption-3 {
		margin-top: 18vw;
		margin-left: 40vw;
		max-width: 370px;
	}
	
	
	.scene-gallery-container {
	  	width: 600px !important;
	  	position: relative;
/* 	  	margin-top: 16vw !important; */
/* 	  	margin-left: 44vw !important; */
	}
			
				.scene-gallery-image{
				  	height:100px !important;
				  	width:100px !important;
				  	margin:18px !important;
				  	padding-top: 5px !important;
				} .scene-photo-image{
					width:100px !important;
				} .scene-photo-image:hover{
					width:100px !important;
				}
	
	
	#maya-image-scene {
/* 		margin-top: 22vw; */
/* 		margin-left: 34vw; */
		width: 500px !important;
		height: 281px !important;
	}
		
	
	#maya-process {
/* 		margin-top: 10vw; */
/* 		margin-left: 33vw; */
		padding-bottom: 400px;
	}
}




	