/*
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
*/


.hide, .hide2 {
  display: none !important;
}

#about-caption-shinola {
/* 	display: none; */
}








.show-more-toggle:hover, .read-more-toggle:hover {
/*     text-decoration: underline; */
	color: #ccc !important;
}








/*	about.css by Jeffrey Paletta	*/



#about-intro-caption {
/* 	margin-top: vw; */
	margin-left: 6vw !important;
}

#about-image-selfie {
	width: 280px;
	height: 248px;
	margin-top: 16vw;
	margin-left: 24vw;
}

#about-contact-info {
	margin-top: 19vw;
	margin-left: 23vw !important;
/* 	padding-bottom: 100px; */
}

h3 > span {
/* 	font-weight: 800 !important; */
	font-size: 14px !important;
/* 	letter-spacing: -0.5px !important; */
}



.about-title {
	font-size: 14px !important;
}

.about-header {
	font-size: 18px !important;
}

.resume {
}

/*
h1.resume-header {
	font-size: 18px !important;
}
*/

.move-down {
	padding-top: 50px !important;
}








#about-image-diploma {
	width: 250px !important;
	height: 136px !important;
	margin-top: 2vw;
	margin-left: 48vw;
}
#about-caption-education {
	margin-top: 9vw !important;
	margin-left: 54vw !important;
}









/* EXPERIENCE */

#about-image-deprogram {
	width: 280px !important;
	height: 150px !important;
	margin-top: 6vw;
	margin-left: 4vw;
}

#about-title-experience {
	margin-top: -3vw;
	margin-left: 14vw;
	display: none;
}


h5#resume-date {
	font-size: 11px !important;
	font-weight: 200;
	padding-top: -1px;
}


#about-experience-wrapper-1 {
	width: 1020px;
	overflow: none;
	padding: 1em;
	min-width: 600px;
	max-width: 1000px;
	margin-top: 17vw;
	margin-left: 9vw;
}



div.exp-table {
	vertical-align: top;
	min-width: 350px;
	max-width: 420px;
}

div.exp-table-2 {
	vertical-align: top;
	min-width: 350px;
	max-width: 400px;
}


#about-caption-shinola {
	float: left !important;
	width: 25%;
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
	display: inline-block !important;
}

#about-caption-practicum {
	float: left !important;
	box-sizing: border-box;
	margin: 0;
	width: 42%;
	min-width: 300px;
	padding-left: 30px;
	overflow: hidden;
	display: inline-block !important;
}

#about-caption-deprogram {
	float: left !important;
	width: 30%;
	left: 0;
	box-sizing: border-box;
	margin-top: 3vw;
	margin-left: 0vw;	
	overflow: hidden;
	display: block !important;
}

#about-caption-workshop {
	margin-top: 2.5vw;
	float: left !important;
	box-sizing: border-box;
/* 	margin: 0; */
	width: 45%;
	padding-left: 30px;
	overflow: hidden;
	display: inline-block !important;
}
	


#about-image-practicum {
	display: none;
}

#about-image-workshop-2 {
	width: 290px !important;
	height: 192px !important;
	margin-top: 17vw;
	margin-left: 57vw;
	z-index: 100000;
}



#about-image-shinola {
	display: none;
}





/* FREELANCE */


#about-caption-freelance {
	margin-top: -22vw;
	margin-left: 9.6vw;
}

#about-freelance-wrapper {
	margin-top: -24vw;
	margin-left: 9.6vw;
	
}

#about-caption-heavenly {
	margin-top: vw;
}

#about-caption-faceplay {
	margin-top: -8.6vw;
	margin-left: 19.7vw;
	padding-top: 11px;
}

#about-caption-painting {
	margin-top: 4vw;
}



#about-image-freelance {
	width: 275px !important;
	height: 181px !important;
	margin-top: 17vw;
	margin-left: 34vw;
	display: none;
}












/* SKILLS */

p.first-line {
	padding-top: 8px;
}



#about-skills-wrapper {
	width: 800px;
	overflow: none;
	padding: 1em;
	min-width: 600px;
	max-width: 800px;
	margin-top: 19vw;
	margin-left: 36vw;
}

div.exp-table-3 {
	vertical-align: top;
	min-width: 150px;
	max-width: 500px;
}

div.exp-table-4 {
	vertical-align: top;
	min-width: 150px;
	max-width: 500px;
}

#about-caption-worked {
	float: left !important;
	width: 30%;
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
	display: inline-block !important;
	padding-top: 5px;
}

#about-caption-experienced {
	float: left !important;
	box-sizing: border-box;
	margin: 0;
	width: 50%;
	min-width: 300px;
	padding-left: 100px;
	overflow: hidden;
	display: inline-block !important;
}

#about-caption-terrific {
	float: left !important;
	width: 30%;
	left: 0;
	box-sizing: border-box;
	margin-top: 2.5vw;
	margin-left: 0vw;	
	overflow: hidden;
	display: block !important;
}

#about-caption-learn {
	margin-top: 3vw;
	float: left !important;
	box-sizing: border-box;
/* 	margin: 0; */
	width: 50%;
	padding-left: 100px;
	overflow: hidden;
	display: inline-block !important;
}






/* IMAGE */


#about-image-workshop {
	width: 260px !important;
	height: 171px !important;
	margin-top: 10vw;
	margin-left:2vw;
	display: none;
}




#about-caption-gallery {
	margin-top: 12vw;
	margin-left: 2vw;
/* 	padding-bottom: 200px; */
}






/* GALLERY */



.about-gallery-container{
  max-width:800px !important;
  position:relative;
/*   margin:0 auto; */
  margin-top:8vw !important;
  margin-left: 7vw !important;
  padding-bottom: 200px;
}

		#galley-overlay{
		  cursor: pointer;
		  position:absolute;
		  top:0;
		  left:0;
		  height:100%;
		  width:100%;
		  background:#000;
		  opacity:.7;
		  z-index:2000;
		  display:none;
		}
		
		.about-gallery-image{
		  position:relative;
		  float:left;
		  height:120px !important;
		  width:120px !important;
		  background:#fff;
		  margin:15px !important;
		}
		
		.about-photo-image{
		  cursor: pointer;
		  position:relative;
		  top:0px;
		  left:0px;
		  width:120px !important;
		  z-index:1000;
		  opacity:1;
		  transition: width 1s, top 1s, left 1s, opacity 1s, z-index .01s;
		}
		
		.about-photo-image:hover{
		  width:120px !important;
		  top:-15px;
		  left: 0px;
		  z-index:1001;
		  opacity:1;
		}
		
		.photo-selected{
		  cursor:default;
		  z-index:2001;
		  width:500px !important;
		  opacity:1;
		  top:-20px;
		  left:-200px;
		  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
		}
		
		.photo-selected:hover{
		  width:500px;
		  top:-50px;
		  left:-50px;
		  z-index:2001;
		  opacity:1;
		  top:-20px;
		  left:-200px;
		}
		
		
		



.inline-block {
/* 	display: inline-block; */
}

.hide-3 {
	display: none;
}




/* ONLY FOR MOBILE */
@media screen and (max-width: 749px) {
	
	.desktop-only {
		display: none !important;
	}
}




/* ONLY FOR DESKTOP */
@media screen and (min-width: 750px) {
	
	#about-intro-caption {
		margin-top: 
	}
	
	p.mobile-only {
		display: none !important;
	}
}