/* clearance.css by Jeffrey Paletta */


#clearance-image-poster {
	width: 410px;
	height: 664px;
	margin-top: -4vw;
	margin-left: 15vw;
}

#clearance-caption-0 {
	margin-top: 12vw;
	margin-left: 1vw;
}

textarea#notepad {
	width: 900px;
	height: 200px;
	font-size: 12em;
	padding: .5em;
	text-transform: uppercase;
	border-color: transparent;
	border: none;
	overflow: hidden;
	outline: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 10vw;
    margin-left: 29vw;
}

		::-webkit-input-placeholder { /* Chrome */
		  color: #ccc;
		  opacity: 0.3;
		}
		
		:-ms-input-placeholder { /* IE 10+ */
		  color: #ccc;
		  opacity: 0.3
		}
		
		::-moz-placeholder { /* Firefox 19+ */
		  color: #ccc;
		  opacity: 0.3;
		}
		
		:-moz-placeholder { /* Firefox 4 - 18 */
		  color: #ccc;
		  opacity: 0.3;
		}

textarea.caption-preview {
	font-family: 'clearance_caption';
}

#clearance-image-yellow {
	width: 470px;
	height: 463px;
	margin-top: 5vw;
	margin-left: 45vw;
}

#clearance-caption-1 {
	margin-top: 10vw;
	margin-left: 4vw;
}

textarea.display-preview {
	font-family: 'clearance_display';
/* 	font-size: 15em; */
	margin-top: 4vw !important;
	margin-left: 6vw !important;
}

#clearance-image-magazine {
	width: 600px;
	height: 450px;
	margin-top: 15vw;
	margin-left: 46vw;
}

#clearance-caption-2 {
	margin-top: 13vw;
	margin-left: 39vw;
}

#clearance-image-display {
	width: 500px;
	height: 223px;
	margin-top: 14vw;
	margin-left: 7vw;
}

#clearance-image-caption {
	width: 500px;
	height: 214px;
	margin-top: 4vw;
	margin-left: 8vw;
}

#clearance-caption-3 {
	margin-top: 14vw;
	margin-left: 17vw;
}

#clearance-process {
	margin-top: 1vw;
	margin-left: 17vw;
	padding-bottom: 200px;
}






/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	#clearance-caption-0,
	#clearance-caption-1,
	#clearance-caption-2,
	#clearance-caption-3,
	#clearance-process {
		font-size: 8px !important;
		line-height: 13px !important;
	}
	
	#clearance-image-poster {
		width: 246px;
		height: 400px;
		margin-top: -3vw;
		margin-left: 16vw;
	}
	
	#clearance-caption-0 {
		margin-top: 12vw;
		margin-left: 1vw;
	}
	
	textarea#notepad {
		width: 360px;
		height: 110px;
		padding: 1em;
		font-size: 9em;
/* 		padding: .5em; */
		margin-top: 3vw;
	    margin-left: 23vw;
	}
	
	#clearance-image-yellow {
		width: 230px;
		height: 225px;
		margin-top: -3vw !important;
		margin-left: 45vw !important;
	}
	
	#clearance-caption-1 {
		margin-top: 10vw;
		margin-left: 10vw !important;
	}
	
	textarea.display-preview {
		margin-top: 0vw !important;
		margin-left: 14vw !important;
		font-size: 10em !important;
		width: 520px;
	}
	
	#clearance-image-magazine {
		width: 225px;
		height: 168px;
		margin-top: 3vw;
		margin-left: 49vw;
	}
	
	#clearance-caption-2 {
		margin-top: 12vw;
		margin-left: 44vw !important;
	}
	
	#clearance-image-display {
		width: 222px;
		height: 141px;
		margin-top: 14vw;
		margin-left: 7vw;
	}
	
	#clearance-image-caption {
		width: 222px;
		height: 94px;
		margin-top: 2vw;
		margin-left: 10vw;
	}
	
	#clearance-caption-3 {
		margin-top: 18vw;
		margin-left: 20vw;
	}
	
	#clearance-process {
		margin-top: 2vw;
		margin-left: 20vw;
		padding-bottom: 150px;
	}
}



/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	
	#clearance-caption-0,
	#clearance-caption-1,
	#clearance-caption-2,
	#clearance-caption-3,
	#clearance-process {
		font-size: 11px !important;
		line-height: 18px !important;
	}
	
	#clearance-image-poster {
		width: 308px;
		height: 500px;
/* 		margin-top: -4vw; */
		margin-left: 14vw;
	}
	
	#clearance-caption-0 {
		margin-top: 10vw;
/* 		margin-left: 1vw; */
	}
	
	textarea#notepad {
		width: 650px;
		height: 160px;
		padding: 1em;
		font-size: 10em;
/* 		padding: .5em; */
		margin-top: 2vw !important;
	    margin-left: 21vw;
	}
	
	#clearance-image-yellow {
		width: 329px;
		height: 324px;
		margin-top: -1vw !important;
		margin-left: 47vw !important;
	}
	
	#clearance-caption-1 {
		margin-top: 9vw;
		margin-left: 10vw !important;
	}
	
	textarea.display-preview {
		margin-top: -2vw !important;
		margin-left: 15vw !important;
		font-size: 10em !important;
		width: 800px;
	}
	
	#clearance-image-magazine {
		width: 419px;
		height: 314px;
		margin-top: 6vw;
		margin-left: 48vw;
	}
	
	#clearance-caption-2 {
		margin-top: 10vw;
		margin-left: 46vw !important;
	}
	
	#clearance-image-display {
		width: 350px;
		height: 223px;
/* 		margin-top: 14vw; */
		margin-left: 8vw;
	}
	
	#clearance-image-caption {
		width: 350px;
		height: 149px;
		margin-top: 2vw;
		margin-left: 9vw;
	}
	
	#clearance-caption-3 {
		margin-top: 13vw;
		margin-left: 19vw;
	}
	
	#clearance-process {
		margin-top: 2vw;
		margin-left: 19vw;
/* 		padding-bottom: 200px; */
	}
}	






/* 1920 x 1080 */
@media screen and (min-width: 1400px) and (max-width: 2099px)	 {	
	
	textarea.display-preview {
		font-size: 15em !important;
		width: 1200px !important;
	}
}
		
		
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
	
	#clearance-image-poster {
		width: 494px;
		height: 800px;
		margin-top: -4vw;
		margin-left: 15vw;
	}
	
	textarea#notepad {
		width: 1200px;
		height: 200px;
		font-size: 12em;
		padding: .5em;
		text-transform: uppercase;
		border-color: transparent;
		border: none;
		overflow: hidden;
		outline: none;
		-webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    margin-top: 7vw;
	    margin-left: 27vw;
	}
	
			::-webkit-input-placeholder { /* Chrome */
			  color: #ccc;
			  opacity: 0.3;
			}
			
			:-ms-input-placeholder { /* IE 10+ */
			  color: #ccc;
			  opacity: 0.3
			}
			
			::-moz-placeholder { /* Firefox 19+ */
			  color: #ccc;
			  opacity: 0.3;
			}
			
			:-moz-placeholder { /* Firefox 4 - 18 */
			  color: #ccc;
			  opacity: 0.3;
			}
	
	textarea.caption-preview {
		font-family: 'clearance_caption';
	}
	
	#clearance-caption-0 {
		margin-top: 10vw;
		margin-left: 3vw;
	}
	
	#clearance-image-yellow {
		width: 507px !important;
		height: 525px !important;
		margin-top: 3vw;
		margin-left: 42vw;
	}
	
	#clearance-caption-1 {
		margin-top: 6vw;
		margin-left: 13vw;
	}
	
	textarea.display-preview {
		font-family: 'clearance_display';
		font-size: 13em !important;
		margin-top: 5vw !important;
		margin-left: 16vw !important;
	}
	
	#clearance-image-magazine {
		width: 600px;
		height: 450px;
		margin-top: 10vw;
		margin-left: 46vw;
	}
	
	#clearance-caption-2 {
		margin-top: 7vw;
		margin-left: 44vw;
	}
	
	#clearance-image-display {
		width: 500px;
		height: 223px;
		margin-top: 14vw;
		margin-left: 7vw;
	}
	
	#clearance-image-caption {
		width: 500px;
		height: 214px;
		margin-top: 6vw;
		margin-left: 9vw;
	}
	
	#clearance-caption-3 {
		margin-top: 13vw;
		margin-left: 15vw;
	}
	
	#clearance-process {
		margin-top: 2vw;
		margin-left: 15vw;
		padding-bottom: 200px;
	}
}








