/* experimental.css by Jeffrey Paletta */

#experimental-caption-1 {
	margin-top: 9vw;
	margin-left: 7vw;
	}
		
#experimental-image-1 {
	margin-top: -2vw;
	margin-left: 35vw;
	}	




#experimental-flipbook-1 {
	margin-top: vw;
	margin-left: vw;
	}	



#experimental-caption-2 {
	margin-top: vw;
	margin-left: vw;
	}
	
	
	

#experimental-image-2 {
	margin-top: 23vw;
	margin-left: vw;
	}	
#experimental-image-3 {
	margin-top: 8vw;
	margin-left: vw;
	}
#experimental-image-4 {
	margin-top: 8vw;
	margin-left: vw;
	}	
#experimental-image-5 {
	margin-top: 8vw;
	margin-left: vw;
	}
/*
#experimental-image-6 {
	margin-top: vw;
	margin-left: vw;
	}	
#experimental-image-7 {
	margin-top: vw;
	margin-left: vw;
	}	
*/	
	
	
	
	
/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	}



/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	
	}




/* 1920 x 1080 */
@media screen and (min-width: 1400px) and (max-width: 2600px)	 {
				
	}
		
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
				
	}


