

#intergram-video-1 {
	margin-top: -7vw;
	margin-left: -3vw;
}
	
	
#intergram-caption-1 {
	margin-top: 39vw;
	margin-left: 50vw;
}
	
	
#intergram-image-1 {
	margin-top: 10vw;
	margin-left: 20vw;
}
	
	
#intergram-caption-2 {
	margin-top: 15vw;
	margin-left: 32vw;
}
	
	
#intergram-image-2 {
	margin-top: 5vw;
	margin-left: 50vw;
}
	
	
#intergram-caption-3 {
	margin-top: 15vw;
	margin-left: 3vw;
}
	
	
#intergram-process {
	margin-top: 2vw;
	margin-left: vw;
}






/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	}



/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	
	}




/* 1920 x 1080 */
@media screen and (min-width: 1400px) and (max-width: 2600px)	 {
				
	}
		
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
				
	}

