
#jazz-image-1 {
	margin-top: vw;
	margin-left: 34vw;
	width: 480px;
	height: 800px;
	-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
}


#jazz-caption-1 {
	margin-top: 6vw;
	margin-left: 50vw;
}


#jazz-image-2 {
	margin-top: 12vw;
	margin-left: vw;
	width: 383px;
	height: 600px;
	-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
}


#jazz-caption-2 {
	margin-top: 6vw;
	margin-left: 11vw;
}


#jazz-image-3 {
	margin-top: 12vw;
	margin-left: 45vw;
}


#jazz-process {
	margin-top: 3vw;
	margin-left: 45vw;
	padding-bottom: 200px;
}




















/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
}



/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
}




/* 1920 x 1080 */
@media screen and (min-width: 1400px) and (max-width: 2600px)	 {
}
		
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
}


