/* kinect.css by Jeffrey Paletta */

#kinect-video-1 {
	margin-top: -7vw;
	margin-left: -7.5vw;
}

#kinect-caption-1 {
	margin-top: 41vw;
	margin-left: -2vw;
}

.kinect-indent {
	padding-left: 16px !important;
}

#kinect-image-sensor {
	width: 600px;
	height: 210px;
	margin-top: 10vw;
	margin-left: 8vw;
}

#kinect-caption-2 {
	margin-top: 12vw;
	margin-left: 58vw;
}

#kinect-video-2 {
	width: 600px;
	height: 600px;
	margin-top: 10vw;
	margin-left: 38vw;
}

#kinect-caption-3 {
	margin-top: 18vw;
	margin-left: 3vw;
}

#kinect-process {
	margin-top: 2vw;
	margin-left: 3vw;
}

#kinect-code-1 {
	width: 700px;
	height: 2000px;
	margin-top: 12vw;
	margin-left: 24vw;
	padding-bottom: 150px;
}



/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	}



/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	
	}




/* 1920 x 1080 */
@media screen and (min-width: 1400px) and (max-width: 2600px)	 {
				
	}
		
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
				
	}
