
	#lorraine-caption-1 {	
		margin-left: 10vw; 
		margin-top: -4vw;
		}
	#lorraine-caption-2 {	
		margin-left: 46vw; 
		margin-top: 2vw;
		margin-bottom: 10vw;
		}
	#lorraine-caption-3 {
		margin-top: 3vw;
		margin-left: -5vw;
		font-size: 14px;
	}
		
		

	#lorraine-image-1 {
		margin-top:5vw;
		margin-left:-6vw;
		}
	#lorraine-image-2 {
		margin-top: 7vw;
		margin-left: -5vw;
		}
	
	
	
	.lorraine-image-string {
		margin-top: -4vw;
		margin-left: -5vw;
		}
		
	
	#lorraine-flipbook-2 {
		margin-top: 6vw;
		margin-left: -3vw;
		padding-bottom: 100px !important;
	}
	



#lorraine-spacer {
	height: 300px !important;
}

#lorraine-gallery-1{
/* 	margin-left: 12vw !important; */
}


#lorraine-process {
	margin-top: 3vw;
	margin-left: 50vw;
}








.gallery-container{
  max-width:600px;
  position:relative;
/*   margin:0 auto; */
  margin-top:21vw;
  margin-left: 9vw;
}

#galley-overlay{
  cursor: pointer;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:#000;
  opacity:.7;
  z-index:2000;
  display:none;
}

.gallery-image{
  position:relative;
  float:left;
  height:100px;
  width:150px;
  background:#fff;
/*   border:1px solid #999; */
  margin:20px;
}

.photo-image{
  cursor: pointer;
  position:relative;
  top:0px;
  left:0px;
  width:150px;
/*   border:1px solid #999;   */
  z-index:1000;
  opacity:1;
  transition: width 1s, top 1s, left 1s, opacity 1s, z-index .01s;
}

.photo-image:hover{
  width:150px;
  top:-15px;
  left: 0px;
  z-index:1001;
  opacity:1;
}

.photo-selected{
  cursor:default;
  z-index:2001;
  width:500px;
  opacity:1;
  top:-20px;
  left:-200px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

/* Nov 11 2013 - Added "X" to close popup - just a visual cue */
/*
.photo-x:after{
  content: "X";
  font-family: arial;
  position: relative;
  top: -535px;
  font-weight: bold;
  left: 285px;
  padding: 10px 14px;
  border: 2px solid black;
  background: white;
  z-index: 9999;
  cursor: pointer;
}
*/

.photo-selected:hover{
  width:500px;
  top:-50px;
  left:-50px;
  z-index:2001;
  opacity:1;
  top:-20px;
  left:-200px;
}


/*
#826-spacer {
	display: block;
	width: 100%;
	height: 200px;
 	padding: 400px; 
	background-color: #fff;
}
*/
		









/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px) {
	
	#lorraine-caption-1 {
		font-size: 8px;
		line-height: 13px;
		max-width: 40%;
		margin-top: vw;
		margin-left: -1vw;
	}
	
	#lorraine-image-1 {
		width: 250px !important;
		margin-top: 5vw;
		margin-left: -6vw;
	}
	
	#lorraine-caption-2 {
		max-width: 40% !important;
		line-height: 13px;
		margin-left: 45vw;
		margin-top: 3vw;
	}
	
	#lorraine-caption-3 {
		margin-top: 3vw;
		margin-left: vw;
		font-size: 10px;
	}
	
	#lorraine-flipbook-2 {
		margin-top: 6vw;
		height: 299px !important;
		width: 420px !important;
		margin-left: -3vw;
		padding-bottom: 70px !important;
	}
	
	
	
	
	
	
		#lorraine-gallery-1 {
		margin-left: 45vw !important;
	}
	
	
	.gallery-container{
	  max-width:700px !important;
	  position:relative;
	/*   margin:0 auto; */
	  margin-top:21vw;
	  margin-left: 9vw;
	}
	
	#galley-overlay{
	  cursor: pointer;
	  position:absolute;
	  top:0;
	  left:0;
	  height:100%;
	  width:100%;
	  background:#000;
	  opacity:.7;
	  z-index:2000;
	  display:none;
	}
	
	.gallery-image{
	  position:relative;
	  float:left;
	  height:60px !important;
	  width:90px !important;
	  background:#fff;
	/*   border:1px solid #999; */
	  margin:10px !important;
	}
	
	.photo-image{
	  cursor: pointer;
	  position:relative;
	  top:0px;
	  left:0px;
	  width:90px !important;
	/*   border:1px solid #999;   */
	  z-index:1000;
	  opacity:1;
	  transition: width 1s, top 1s, left 1s, opacity 1s, z-index .01s;
	}
	
	.photo-image:hover{
	  width:90px !important;
	  top:-15px;
	  left: 0px;
	  z-index:1001;
	  opacity:1;
	}
	
	.photo-selected{
	  cursor:default;
	  z-index:2001;
	  width:500px;
	  opacity:1;
	  top:-20px;
	  left:-200px;
	  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	}
	
	/* Nov 11 2013 - Added "X" to close popup - just a visual cue */
	/*
	.photo-x:after{
	  content: "X";
	  font-family: arial;
	  position: relative;
	  top: -535px;
	  font-weight: bold;
	  left: 285px;
	  padding: 10px 14px;
	  border: 2px solid black;
	  background: white;
	  z-index: 9999;
	  cursor: pointer;
	}
	*/
	
	.photo-selected:hover{
	  width:500px;
	  top:-50px;
	  left:-50px;
	  z-index:2001;
	  opacity:1;
	  top:-20px;
	  left:-200px;
	}
	
	
	/*
	#826-spacer {
		display: block;
		width: 100%;
		height: 200px;
	 	padding: 400px; 
		background-color: #fff;
	}
	*/
	
	
	#lorraine-process {
		margin-left: 46vw !important;
	}
	
	
	
}




/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	
	#lorraine-image-string {
		margin-top: -1vw;
	}

	#lorraine-image-1 {
		margin-top: 5vw;
		width: 320px !important;
		}
		
	#lorraine-caption-1 {
		max-width: 34% !important;
		font-size: 11px;
		margin-top: -5vw;
		margin-left: 6vw;
/* 		margin-left: -5vw; */
	}	
	
	#lorraine-caption-2 {
		max-width: 35% !important;
	}
	
	#lorraine-flipbook-2 {
		margin-top: 6vw;
		margin-left: -3vw;
		padding-bottom: 40px !important;
		width: 720px !important;
		height: 512px !important;
	}
	
	
	
	#lorraine-gallery-1 {
		margin-left: 45vw !important;
	}
	
	
	.gallery-container{
	  max-width:700px !important;
	  position:relative;
	/*   margin:0 auto; */
	  margin-top:21vw;
	  margin-left: 9vw;
	}
	
	#galley-overlay{
	  cursor: pointer;
	  position:absolute;
	  top:0;
	  left:0;
	  height:100%;
	  width:100%;
	  background:#000;
	  opacity:.7;
	  z-index:2000;
	  display:none;
	}
	
	.gallery-image{
	  position:relative;
	  float:left;
	  height:80px !important;
	  width:120px !important;
	  background:#fff;
	/*   border:1px solid #999; */
	  margin:10px !important;
	}
	
	.photo-image{
	  cursor: pointer;
	  position:relative;
	  top:0px;
	  left:0px;
	  width:120px !important;
	/*   border:1px solid #999;   */
	  z-index:1000;
	  opacity:1;
	  transition: width 1s, top 1s, left 1s, opacity 1s, z-index .01s;
	}
	
	.photo-image:hover{
	  width:120px !important;
	  top:-15px;
	  left: 0px;
	  z-index:1001;
	  opacity:1;
	}
	
	.photo-selected{
	  cursor:default;
	  z-index:2001;
	  width:500px;
	  opacity:1;
	  top:-20px;
	  left:-200px;
	  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	}
	
	/* Nov 11 2013 - Added "X" to close popup - just a visual cue */
	/*
	.photo-x:after{
	  content: "X";
	  font-family: arial;
	  position: relative;
	  top: -535px;
	  font-weight: bold;
	  left: 285px;
	  padding: 10px 14px;
	  border: 2px solid black;
	  background: white;
	  z-index: 9999;
	  cursor: pointer;
	}
	*/
	
	.photo-selected:hover{
	  width:500px;
	  top:-50px;
	  left:-50px;
	  z-index:2001;
	  opacity:1;
	  top:-20px;
	  left:-200px;
	}
	
	
	/*
	#826-spacer {
		display: block;
		width: 100%;
		height: 200px;
	 	padding: 400px; 
		background-color: #fff;
	}
	*/
	
	
	#lorraine-process {
		margin-left: 46vw !important;
	}

}



/* 1920 x 1080 */
@media screen and (min-width: 1400px) and (max-width: 2600px) {
	
}

/* CINEMA DISPLAY */
@media screen and (min-width: 2200px) {
	
	#lorraine-image-1 {
		margin-top: 12vw;
	}
	
}