


/* GALLERY STYLES */
		#galley-overlay{
			cursor: pointer;
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width:100%;
			background:#000;
			opacity:.7;
			z-index:2000;
			display:none;
		} .gallery-image{
			position:relative;
			float:left;
			background:#fff;
		} .photo-image{
			cursor: pointer;
			position:relative;
			top:0px;
			left:0px;
			z-index:1000;
			opacity:1;
			transition: width 1s, top 1s, left 1s, opacity 1s, z-index .01s;
		} .photo-image:hover{
			top:-15px;
			left: 0px;
			z-index:1001;
			opacity:1;
		} .photo-selected{
			cursor:default;
			z-index:2001;
			width:500px;
			opacity:1;
			top:-20px;
			left:-200px;
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
		} .photo-selected:hover{
			width:500px;
			top:-50px;
			left:-50px;
			z-index:2001;
			opacity:1;
			top:-20px;
			left:-200px;
		}
/* END GALLERY STYLES */














/* Universal Elements */

.hide {
	display: none !important;
}
	

h2.preview-title {
	font-size: 16px;
	margin-bottom: 10px;
}

preview-more {
	padding-top: 12px;
}

.first-line {
	padding-top: 12px;
}




















/* Think Play Create */

#pre-tpc-video-1 {
	width: 900px;
	height: 540px;
	margin-top: 3vw;
	margin-left: 6vw;
}

#pre-tpc-caption {
	margin-top: 38vw;
	margin-left: 4vw;
	max-width: 300px;
}






/* Education Portal */

#pre-education-video {
	width: 800px !important;
	height: 492px !important;
	margin-top: 31vw; 
	margin-left:36vw;
}

#pre-education-caption {
	margin-top: 66vw;
	margin-left: 33vw;
	max-width: 290px;
}






/* Intergram */

#pre-intergram-video {
	width: 820px;
	height: 492px;
	margin-top: 36vw;
	margin-left: 8vw;
}

#pre-intergram-caption {
	margin-top: 72vw;
	margin-left: 5vw;
	max-width: 300px;
}







/* Hamtwon */

/*
#pre-hamtown-image-logos {
	width: 400px;
	height: 200px;
	margin-top: 26vw;
	margin-left: 55vw;
	z-index: -9999 !important;
}
*/

#pre-hamtown-flipbook {
	margin-top: -14vw;
	margin-left: 29vw;
	width: 800px !important;
	height: 600px !important;
	z-index: 9999 !important;
}

#hamtown-notice {
	margin-top: 43vw;	
	margin-left: 44vw;
	text-align: center;
	color: #ccc;
	font-style: italic;
}

#hamtown-notice > a {
	color: #ccc;
}

#pre-hamtown-caption {
	margin-top: 27vw;
	margin-left: 26vw;
	max-width: 300px;
}

/*
.hamtown-gallery-container {
  	width: 800px !important;
  	position: relative;
  	margin-top: 57vw !important;
  	margin-left: 24vw !important;
}
		
			.hamtown-gallery-image{
			  	height:133px !important;
			  	width:200px !important;
			  	margin:20px !important;
			  	padding-top: 1px !important;
			} .hamtown-photo-image{
				width:200px !important;
			} .hamtown-photo-image:hover{
				width:200px !important;
			}
*/



		
		
		
		
		
		
		
/* Presidential Supply Co. */		
		
#pre-826-image-logo {
	margin-top: 35vw;
	margin-left: 40vw;
	width: 180px !important;
	height: 180px !important;
	z-index: -9999 !important;
}

div.psc-gallery-container {
  	width: 700px !important;
  	position: relative;
  	margin-top: -3vw !important;
  	margin-left: 45vw !important;
}
		
			.psc-gallery-image {
			  	height:100px !important;
			  	width:150px !important;
			  	margin:18px !important;
			  	padding-top: 5px !important;
			} .photo-image {
				width:150px !important;
			} .826-photo-image:hover,
			.photo-image:hover {
				width:150px !important;
			}		
		
		
#pre-psc-caption {
	margin-top: 11vw;
	margin-left: 41vw;
	max-width: 300px;
}		











/* Kinect */

#pre-kinect-video {
	width: 820px;
	height: 461px;
	margin-top: 34vw;
	margin-left: 10vw;
}
		
#pre-kinect-caption-1 {
	margin-top: 72vw;
	margin-left: 5vw;
	max-width: 310px !important;
}			










/* Paint Mixer */

#pre-paint-video {
	width: 850px !important;
	height: 553px !important;
	margin-top: 35vw;
	margin-left: 30vw;
}

#pre-paint-caption {
	margin-top: 11vw;
	margin-left: 30vw;
	max-width: 300px;
}	









/* Woo Emm Aii */

#pre-wooemmaii-video {
	margin-top: 34vw;
	margin-left: 7vw;
	width: 800px;
	height: 480px;
}

#pre-wooemmaii-caption {
	margin-top: 70vw;
	margin-left: 7vw;
	max-width: 300px;
}











/* Argonaut Sans */

#pre-argonaut-poster-1,
#pre-argonaut-poster-2,
#pre-argonaut-poster-3 {
	width: 250px;
	height: 400px;
	-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
}

#pre-argonaut-poster-1 {
	margin-top: 33vw;
	margin-left: 30vw;
}

#pre-argonaut-poster-2 {
	margin-top: -18vw;
	margin-left: 45vw;
}

#pre-argonaut-poster-3 {
	margin-top: -23vw;
	margin-left: 60vw;
}

#pre-argonaut-caption {
	margin-top: 10vw;
	margin-left: 57vw;
	max-width: 294px;
}













/* Duck Hunt */

#pre-duck-image-1 {
	margin-top: 36vw;
	margin-left: 10vw;
/* 	width: 325px !important; */
/* 	height: 247px !important; */
	width: 400px !important;
	height: 159px !important;
}

#pre-duck-video {
	width: 1000px !important;
	height: 624px !important;
	margin-top:37vw;
	margin-left: 6vw;
	padding-bottom: 200px;
}

#pre-duck-video-2 {
	width: 900px !important;
	height: 506px !important;
	margin-top:37vw;
	margin-left: 6vw;
	padding-bottom: 200px;
}

#pre-duck-caption {
	margin-top: 74vw;
	margin-left: 6vw;
	max-width: 270px;
}













/* Lorraine */

#lorraine-notice {
	margin-top: 46vw;	
	margin-left: 48vw;
	text-align: center;
	color: #ccc;
	font-style: italic;
}

#lorraine-notice > a {
	color: #ccc;
}


#pre-lorraine-flipbook {
	margin-top: -13vw;
	margin-left: 32vw;
	width: 850px;
	height: 605px;
/* 	padding-bottom: 100px !important; */
}




/*
.lorraine-gallery-container {

  	width: 700px !important;
  	position: relative;
  	margin-top: 73vw !important;
  	margin-left: 38vw !important;
}
		
			.lorraine-gallery-image {
			  	height:80px !important;
			  	width:120px !important;
			  	margin:20px !important;
			  	padding-top: 5px !important;
			} 
			.lorraine-photo-image {
				width:120px !important;
			}
			.lorraine-photo-image:hover {
				width:120px !important;
			}
*/


#pre-lorraine-caption {
	margin-top: 28vw;
	margin-left: 32.5vw;
	max-width: 310px;
}











/* Jazzfest */

#pre-jazz-image {
	margin-top: 38vw;
	margin-left: 11vw;
	width: 480px;
	height: 800px;
	-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
}

#pre-jazz-caption {
	margin-top: 12vw;
	margin-left: 8vw;
	max-width: 300px;
}










/* Intro */

#preview-intro {
	margin-top: 35vw;
	margin-left: 30vw;
	text-align: center;
}

#preview-intro-link {
	font-size: 12px;
	text-align: center;
	color: #ccc;
	font-style: italic;
}

#preview-intro-link:hover {
	color: #3233ff;
}












































	
		
		
/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	#pre-tpc-caption,
	#pre-education-caption,
	#pre-intergram-caption,
	#pre-hamtown-caption,
	#pre-psc-caption,
	#pre-kinect-caption-1,
	#pre-paint-caption,
	#pre-wooemmaii-caption,
	#pre-argonaut-caption,
	#pre-duck-caption,
	#pre-lorraine-caption,
	#pre-jazz-caption {
		font-size: 8px !important;
		line-height: 12px !important;
	}
	
		
	h2.preview-title {
		font-size: 10px;
		margin-bottom: 6px;
	}
	
	preview-more {
		padding-top: 6px;
	}
	
	.first-line {
		padding-top: 6px;
	}
	
	
						/* Think Play Create */
	
	#pre-tpc-video-1 {
		width: 410px;
		height: 246px;
/* 		margin-top: 3vw; */
/* 		margin-left: 6vw; */
	}
	
	#pre-tpc-caption {
/* 		margin-top: 38vw; */
/* 		margin-left: 4vw; */
		max-width: 250px;
	}
	
	
						/* Education Portal */
	
	#pre-education-video {
		width: 364px !important;
		height: 223px !important;
/* 		margin-top: 31vw;  */
/* 		margin-left:36vw; */
	}
	
	#pre-education-caption {
/* 		margin-top: 66vw; */
/* 		margin-left: 33vw; */
		max-width: 290px;
	}
	
	
						/* Intergram */
	
	#pre-intergram-video {
		width: 371px;
		height: 222px;
/* 		margin-top: 36vw; */
/* 		margin-left: 8vw; */
	}
	
	#pre-intergram-caption {
/* 		margin-top: 72vw; */
/* 		margin-left: 5vw; */
		max-width: 300px;
	}
	
	
						/* Hamtwon */
	
	#pre-hamtown-flipbook {
		width: 362px !important;
		height: 271px !important;
/* 		margin-top: -14vw; */
/* 		margin-left: 29vw; */
	}
	
	#hamtown-notice {
/* 		margin-top: 43vw;	 */
/* 		margin-left: 44vw; */
	}
	
	#pre-hamtown-caption {
/* 		margin-top: 27vw; */
/* 		margin-left: 26vw; */
		max-width: 300px;
	}
			
			
						/* Presidential Supply Co. */		
			
	#pre-826-image-logo {
		width: 80px !important;
		height: 80px !important;
/* 		margin-top: 35vw; */
/* 		margin-left: 40vw; */
	}
	
	div.psc-gallery-container {
	  	width: 330px !important;
/* 	  	margin-top: -3vw !important; */
/* 	  	margin-left: 45vw !important; */
	}
			
				.psc-gallery-image {
				  	height:45px !important;
				  	width: 67px !important;
				  	margin: 8px !important;
				  	padding-top: 1px !important;
				} 
				.photo-image {
					width: 67px !important;
				} 
				.826-photo-image:hover,
				.photo-image:hover {
					width: 67px !important;
				}		
			
			
	#pre-psc-caption {
/* 		margin-top: 11vw; */
/* 		margin-left: 44vw; */
		max-width: 300px;
	}		
	
	
						/* Kinect */
	
	#pre-kinect-video {
		width: 373px;
		height: 209px;
/* 		margin-top: 34vw; */
/* 		margin-left: 10vw; */
	}
			
	#pre-kinect-caption-1 {
/* 		margin-top: 72vw; */
/* 		margin-left: 5vw; */
		max-width: 310px !important;
	}			

	
						/* Paint Mixer */
	
	#pre-paint-video {
		width: 386px !important;
		height: 251px !important;
/* 		margin-top: 35vw; */
/* 		margin-left: 30vw; */
	}
	
	#pre-paint-caption {
/* 		margin-top: 11vw; */
/* 		margin-left: 30vw; */
		max-width: 300px;
	}	
	
	
						/* Woo Emm Aii */
	
	#pre-wooemmaii-video {
		width: 363px;
		height: 217px;
/* 		margin-top: 34vw; */
/* 		margin-left: 7vw; */
	}
	
	#pre-wooemmaii-caption {
/* 		margin-top: 70vw; */
/* 		margin-left: 7vw; */
		max-width: 300px;
	}
	
	
						/* Argonaut Sans */
	
	#pre-argonaut-poster-1,
	#pre-argonaut-poster-2,
	#pre-argonaut-poster-3 {
		width: 113px;
		height: 180px;
		-webkit-box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.25);
		-moz-box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.25);
		box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.20);
	}
	
	#pre-argonaut-poster-1 {
/* 		margin-top: 33vw; */
/* 		margin-left: 30vw; */
	}
	
	#pre-argonaut-poster-2 {
/* 		margin-top: -18vw; */
/* 		margin-left: 45vw; */
	}
	
	#pre-argonaut-poster-3 {
/* 		margin-top: -20vw; */
/* 		margin-left: 60vw; */
	}
	
	#pre-argonaut-caption {
/* 		margin-top: 10vw; */
/* 		margin-left: 57vw; */
		max-width: 294px;
	}
	
	
						/* Duck Hunt */
		
	#pre-duck-video {
		width: 450px !important;
		height: 280px !important;
/* 		margin-top:37vw; */
/* 		margin-left: 6vw; */
/* 		padding-bottom: 200px; */
	}
	
	#pre-duck-video-2 {
		width: 410px !important;
		height: 230px !important;
/* 		margin-top:37vw; */
/* 		margin-left: 6vw; */
/* 		padding-bottom: 200px; */
	}
	
	#pre-duck-caption {
/* 		margin-top: 77vw; */
/* 		margin-left: 16vw; */
		max-width: 270px;
	}
		
	
						/* Lorraine */
	
	#lorraine-notice {
/* 		margin-top: 46vw;	 */
/* 		margin-left: 48vw; */
	}
		
	#pre-lorraine-flipbook {
		width: 382px;
		height: 271px;
/* 		margin-top: -13vw; */
/* 		margin-left: 32vw; */
	}
		
	#pre-lorraine-caption {
/* 		margin-top: 28vw; */
/* 		margin-left: 32.5vw; */
		max-width: 300px;
	}
	
	
						/* Jazzfest */
	
	#pre-jazz-image {
		width: 215px;
		height: 358px;
/* 		margin-top: 38vw; */
/* 		margin-left: 11vw; */
		-webkit-box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.25);
		-moz-box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.25);
		box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.20);	}
	
	#pre-jazz-caption {
/* 		margin-top: 12vw; */
/* 		margin-left: 8vw; */
		max-width: 300px;
	}
	

						/* Outro */
	
	#preview-intro {
/* 		margin-top: 35vw; */
		margin-left: 1Zvw;
		line-height: 12px;
	}
	
	#preview-intro-link {
		font-size: 8px;
	}
}










































/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	
	#pre-tpc-caption,
	#pre-education-caption,
	#pre-intergram-caption,
	#pre-hamtown-caption,
	#pre-psc-caption,
	#pre-kinect-caption-1,
	#pre-paint-caption,
	#pre-wooemmaii-caption,
	#pre-argonaut-caption,
	#pre-duck-caption,
	#pre-lorraine-caption,
	#pre-jazz-caption {
		font-size: 11px !important;
		line-height: 17px !important;
	}
	
		
	h2.preview-title {
		font-size: 13px;
		margin-bottom: 8px;
	}
	
	preview-more {
		padding-top: 8px;
	}
	
	.first-line {
		padding-top: 8px;
	}
	
	
						/* Think Play Create */
	
	#pre-tpc-video-1 {
		width: 630px;
		height: 378px;
/* 		margin-top: 3vw; */
/* 		margin-left: 6vw; */
	}
	
	#pre-tpc-caption {
/* 		margin-top: 38vw; */
/* 		margin-left: 4vw; */
		max-width: 250px;
	}
	
	
						/* Education Portal */
	
	#pre-education-video {
		width: 560px !important;
		height: 344px !important;
/* 		margin-top: 31vw;  */
/* 		margin-left:36vw; */
	}
	
	#pre-education-caption {
/* 		margin-top: 66vw; */
/* 		margin-left: 33vw; */
		max-width: 290px;
	}
	
	
						/* Intergram */
	
	#pre-intergram-video {
		width: 573px;
		height: 343px;
/* 		margin-top: 36vw; */
/* 		margin-left: 8vw; */
	}
	
	#pre-intergram-caption {
/* 		margin-top: 72vw; */
/* 		margin-left: 5vw; */
		max-width: 300px;
	}
	
	
						/* Hamtwon */
	
	#pre-hamtown-flipbook {
		width: 560px !important;
		height: 420px !important;
/* 		margin-top: -14vw; */
/* 		margin-left: 29vw; */
	}
	
	#hamtown-notice {
/* 		margin-top: 43vw;	 */
/* 		margin-left: 44vw; */
	}
	
	#pre-hamtown-caption {
/* 		margin-top: 27vw; */
/* 		margin-left: 26vw; */
		max-width: 300px;
	}
			
			
						/* Presidential Supply Co. */		
			
	#pre-826-image-logo {
		width: 125px !important;
		height: 125px !important;
/* 		margin-top: 35vw; */
/* 		margin-left: 40vw; */
	}
	
	div.psc-gallery-container {
	  	width: 490px !important;
/* 	  	margin-top: -3vw !important; */
/* 	  	margin-left: 45vw !important; */
	}
			
				.psc-gallery-image {
				  	height:70px !important;
				  	width:105px !important;
				  	margin:13px !important;
				  	padding-top: 3px !important;
				} 
				.photo-image {
					width:105px !important;
				} 
				.826-photo-image:hover,
				.photo-image:hover {
					width:105px !important;
				}		
			
			
	#pre-psc-caption {
/* 		margin-top: 11vw; */
		margin-left: 44vw;
		max-width: 300px;
	}		
	
	
						/* Kinect */
	
	#pre-kinect-video {
		width: 574px;
		height: 322px;
/* 		margin-top: 34vw; */
/* 		margin-left: 10vw; */
	}
			
	#pre-kinect-caption-1 {
/* 		margin-top: 72vw; */
/* 		margin-left: 5vw; */
		max-width: 310px !important;
	}			

	
						/* Paint Mixer */
	
	#pre-paint-video {
		width: 595px !important;
		height: 387px !important;
/* 		margin-top: 35vw; */
/* 		margin-left: 30vw; */
	}
	
	#pre-paint-caption {
/* 		margin-top: 11vw; */
/* 		margin-left: 30vw; */
		max-width: 300px;
	}	
	
	
						/* Woo Emm Aii */
	
	#pre-wooemmaii-video {
		width: 560px;
		height: 336px;
/* 		margin-top: 34vw; */
/* 		margin-left: 7vw; */
	}
	
	#pre-wooemmaii-caption {
/* 		margin-top: 70vw; */
/* 		margin-left: 7vw; */
		max-width: 300px;
	}
	
	
						/* Argonaut Sans */
	
	#pre-argonaut-poster-1,
	#pre-argonaut-poster-2,
	#pre-argonaut-poster-3 {
		width: 175px;
		height: 280px;
/* 		-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25); */
/* 		-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25); */
/* 		box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20); */
	}
	
	#pre-argonaut-poster-1 {
/* 		margin-top: 33vw; */
/* 		margin-left: 30vw; */
	}
	
	#pre-argonaut-poster-2 {
/* 		margin-top: -18vw; */
		margin-left: 45vw;
	}
	
	#pre-argonaut-poster-3 {
		margin-top: -20vw;
		margin-left: 60vw;
	}
	
	#pre-argonaut-caption {
/* 		margin-top: 10vw; */
/* 		margin-left: 57vw; */
		max-width: 294px;
	}
	
	
						/* Duck Hunt */
	
	#pre-duck-image-1 {
		width: 280px !important;
		height: 111px !important;
/* 		margin-top: 36vw; */
/* 		margin-left: 10vw; */
	}
	
	#pre-duck-video {
		width: 700px !important;
		height: 436px !important;
/* 		margin-top:37vw; */
/* 		margin-left: 6vw; */
/* 		padding-bottom: 200px; */
	}
	
	#pre-duck-video-2 {
		width: 630px !important;
		height: 354px !important;
/* 		margin-top:37vw; */
/* 		margin-left: 6vw; */
/* 		padding-bottom: 200px; */
	}
	
	#pre-duck-caption {
/* 		margin-top: 77vw; */
/* 		margin-left: 16vw; */
		max-width: 270px;
	}
		
	
						/* Lorraine */
	
	#lorraine-notice {
/* 		margin-top: 46vw;	 */
/* 		margin-left: 48vw; */
	}
		
	#pre-lorraine-flipbook {
		width: 595px;
		height: 423px;
/* 		margin-top: -13vw; */
/* 		margin-left: 32vw; */
	}
		
	#pre-lorraine-caption {
/* 		margin-top: 28vw; */
/* 		margin-left: 32.5vw; */
		max-width: 300px;
	}
	
	
						/* Jazzfest */
	
	#pre-jazz-image {
		width: 336px;
		height: 560px;
/* 		margin-top: 38vw; */
/* 		margin-left: 11vw; */
/* 		-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25); */
/* 		-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25); */
/* 		box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20); */
	}
	
	#pre-jazz-caption {
/* 		margin-top: 12vw; */
/* 		margin-left: 8vw; */
		max-width: 300px;
	}
	

						/* Outro */
	
	#preview-intro {
/* 		margin-top: 35vw; */
		margin-left: 25vw;
	}
	
	#preview-intro-link {
		font-size: 10px;
	}
}




























/* 1920 x 1080 */
@media screen and (min-width: 1400px) and (max-width: 2099px)	 {
}

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
h2.preview-title {
/* 		font-size: 13px; */
/* 		margin-bottom: 9px; */
	}
	
	preview-more {
/* 		padding-top: 9px; */
	}
	
	.first-line {
/* 		padding-top: 9px; */
	}
	
	
						/* Think Play Create */
	
	#pre-tpc-video-1 {
		width: 1080px;
		height: 648px;
/* 		margin-top: 3vw; */
/* 		margin-left: 6vw; */
	}
	
	#pre-tpc-caption {
/* 		margin-top: 38vw; */
/* 		margin-left: 4vw; */
/* 		max-width: 300px; */
	}
	
	
						/* Education Portal */
	
	#pre-education-video {
		width: 960px !important;
		height: 590px !important;
/* 		margin-top: 31vw;  */
/* 		margin-left:36vw; */
	}
	
	#pre-education-caption {
/* 		margin-top: 66vw; */
/* 		margin-left: 33vw; */
/* 		max-width: 290px; */
	}
	
	
						/* Intergram */
	
	#pre-intergram-video {
		width: 983px;
		height: 589px;
/* 		margin-top: 36vw; */
/* 		margin-left: 8vw; */
	}
	
	#pre-intergram-caption {
/* 		margin-top: 72vw; */
/* 		margin-left: 5vw; */
/* 		max-width: 300px; */
	}
	
	
						/* Hamtwon */
	
	#pre-hamtown-flipbook {
/* 		margin-top: -14vw; */
/* 		margin-left: 29vw; */
		width: 960px !important;
		height: 720px !important;
	}
	
	#hamtown-notice {
/* 		margin-top: 43vw;	 */
/* 		margin-left: 44vw; */
	}
		
	#pre-hamtown-caption {
/* 		margin-top: 27vw; */
/* 		margin-left: 26vw; */
/* 		max-width: 300px; */
	}
			
			
						/* Presidential Supply Co. */		
			
	#pre-826-image-logo {
/* 		margin-top: 35vw; */
/* 		margin-left: 40vw; */
		width: 215px !important;
		height: 215px !important;
	}
	
	div.psc-gallery-container {
	  	width: 840px !important;
/* 	  	margin-top: -3vw !important; */
/* 	  	margin-left: 45vw !important; */
	}
			
				.psc-gallery-image {
				  	height:120px !important;
				  	width:180px !important;
				  	margin:21px !important;
				  	padding-top: 5px !important;
				} 
				.photo-image {
					width:180px !important;
				} 
				.826-photo-image:hover,
				.photo-image:hover {
					width:180px !important;
				}		
			
			
	#pre-psc-caption {
/* 		margin-top: 11vw; */
/* 		margin-left: 41vw; */
/* 		max-width: 300px; */
	}		
	
	
						/* Kinect */
	
	#pre-kinect-video {
		width: 984px;
		height: 553px;
/* 		margin-top: 34vw; */
/* 		margin-left: 10vw; */
	}
			
	#pre-kinect-caption-1 {
/* 		margin-top: 72vw; */
/* 		margin-left: 5vw; */
/* 		max-width: 310px !important; */
	}			

	
						/* Paint Mixer */
	
	#pre-paint-video {
		width: 1020px !important;
		height: 663px !important;
/* 		margin-top: 35vw; */
/* 		margin-left: 30vw; */
	}
	
	#pre-paint-caption {
/* 		margin-top: 11vw; */
/* 		margin-left: 30vw; */
/* 		max-width: 300px; */
	}	
	
	
						/* Woo Emm Aii */
	
	#pre-wooemmaii-video {
/* 		margin-top: 34vw; */
/* 		margin-left: 7vw; */
		width: 960px;
		height: 576px;
	}
	
	#pre-wooemmaii-caption {
/* 		margin-top: 70vw; */
/* 		margin-left: 7vw; */
/* 		max-width: 300px; */
	}
	
	
						/* Argonaut Sans */
	
	#pre-argonaut-poster-1,
	#pre-argonaut-poster-2,
	#pre-argonaut-poster-3 {
		width: 300px;
		height: 480px;
/* 		-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25); */
/* 		-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25); */
/* 		box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20); */
	}
	
	#pre-argonaut-poster-1 {
/* 		margin-top: 33vw; */
/* 		margin-left: 30vw; */
	}
	
	#pre-argonaut-poster-2 {
/* 		margin-top: -18vw; */
/* 		margin-left: 45vw; */
	}
	
	#pre-argonaut-poster-3 {
/* 		margin-top: -23vw; */
/* 		margin-left: 60vw; */
	}
	
	#pre-argonaut-caption {
/* 		margin-top: 10vw; */
/* 		margin-left: 57vw; */
/* 		max-width: 294px; */
	}
	
	
						/* Duck Hunt */
	
	#pre-duck-image-1 {
/* 		margin-top: 36vw; */
/* 		margin-left: 10vw; */
/* 		width: 400px !important; */
/* 		height: 159px !important; */
	}
	
	#pre-duck-video {
		width: 1200px !important;
		height: 748px !important;
/* 		margin-top:37vw; */
/* 		margin-left: 6vw; */
/* 		padding-bottom: 200px; */
	}
	
	#pre-duck-video-2 {
	width: 1080px !important;
	height: 607px !important;
/*
	margin-top:37vw;
	margin-left: 6vw;
	padding-bottom: 200px;
*/
}
	
	#pre-duck-caption {
/* 		margin-top: 77vw; */
/* 		margin-left: 16vw; */
/* 		max-width: 270px; */
	}
		
	
						/* Lorraine */
	
	#lorraine-notice {
/* 		margin-top: 46vw;	 */
/* 		margin-left: 48vw; */
	}
		
	#pre-lorraine-flipbook {
/* 		margin-top: -13vw; */
/* 		margin-left: 32vw; */
		width: 1020px;
		height: 726px;
	}
		
	#pre-lorraine-caption {
/* 		margin-top: 28vw; */
/* 		margin-left: 32.5vw; */
/* 		max-width: 300px; */
	}
	
	
						/* Jazzfest */
	
	#pre-jazz-image {
/* 		margin-top: 38vw; */
/* 		margin-left: 11vw; */
		width: 576px;
		height: 960px;
/* 		-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25); */
/* 		-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25); */
/* 		box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20); */
	}
	
	#pre-jazz-caption {
/* 		margin-top: 12vw; */
/* 		margin-left: 8vw; */
/* 		max-width: 300px; */
	}
	

						/* Intro */
	
	#preview-intro {
/* 		margin-top: 35vw; */
/* 		margin-left: 30vw; */
	}
	
	#preview-intro-link {
/* 		font-size: 12px; */
	}
	
	#preview-intro-link:hover {
	}
}
















































	