/* red-emoji.css by Jeffrey Paletta */


#emoji-video-1 {
	width: 1024px;
	height: 576px;
	margin-top: -2vw; 
	margin-left: -3vw;
}

#emoji-caption-1 {
	margin-top: 43vw;
	margin-left: 44vw;
}

#emoji-image-red-dot {
	width: 120px;
	height: 120px;
	margin-top: 2vw;
	margin-left: 50vw;
}
	
/* #emoji-image-2 {
	margin-top: 30vw; 
	margin-left: vw;
	display: none;
} */	

#emoji-image-button {
	width: 400px;
	height: 300px;
	margin-top: 9vw;
	margin-left: 9vw;
}
	
#emoji-caption-2 {
/* 	min-width: 400px !important; */
	margin-top: 6vw;
	margin-left: 1vw !important;
}	
	
#emoji-image-arduino {
	display: none;
	margin-top: 9vw;
	margin-left: 50vw;
}	
	
#emoji-image-chairs {
/* 	display: none; */
	width: 650px;
	height: 486px;
	margin-top: 15vw;
	margin-left: 38vw;
}

#emoji-caption-3 {
	margin-top: 5vw;
	margin-left: 52vw;
}

#emoji-process {
	margin-top: 2vw;
	margin-left: 52vw;
}





@media screen and (max-width: 1880px) {

	
	#emoji-caption-1 {
	/* 	display: none !important; */
		margin-top: 33vw;
		margin-left: 48vw;
		font-size: 13.5px !important;
		}		
	
	#emoji-container-1 {
		width: 850px !important;
		height: 478px !important;
		margin-top: -24vw !important;
	/* 	margin-top: -22vw;  */
	/* 	margin-left: -3vw; */
		}
	#emoji-video-1 {
		width: 100% !important;
		height: 100% !important;
	/* 	margin-top: -22vw;  */
	/* 	margin-left: -3vw; */
		}
	}





@media screen and (max-width: 1680px) {


	#emoji-caption-1 {
		margin-top: 33vw !important;
		margin-left: 54vw !important;
		font-size: 12.5px !important;
		}
}





@media screen and (max-width: 1480px) {


	#emoji-caption-1 {
		margin-top: 45vw !important;
		margin-left: 53vw !important;
		font-size: 12.5px !important;
/* 		width: 200px !important; */
		}
	
	#emoji-container-1 {
		width: 850px !important;
		height: 478px !important;
		margin-top: -38vw !important;
	/* 	margin-left: -3vw; */
		}
	#emoji-video-1 {
		width: 100% !important;
		height: 100% !important;
		}
}	
