

#tpc-video-1 {
	margin-top: -3vw;
	margin-left: -4vw;
}

#tpc-caption-1 {
	margin-top: 6vw;
	margin-left: 57vw;
}

#tpc-image-tiles {
	margin-top: 8vw;
	margin-left: 5vw;
}

#tpc-video-2 {
	margin-top: 18vw;
	margin-left: 39vw;
/*
	width: 900px !important;
	height: 540px !important;
	-webkit-box-shadow: -9px 13px 51px -1px rgba(0,0,0,0.21);
	-moz-box-shadow: -9px 13px 51px -1px rgba(0,0,0,0.21);
	box-shadow: -9px 13px 51px -1px rgba(0,0,0,0.21);
*/
}

#tpc-caption-2 {
	margin-top: 4vw;
	margin-left: 13vw;
}

/*
#tpc-video-3 {
	margin-top: 15vw;
	margin-left: 30vw;
	width: 640px !important;
	height: 360px !important;
}
*/

#tpc-caption-3 {
	margin-top: 48vw;
	margin-left: 39vw;
}

#tpc-video-3 {
	margin-top: 15vw;
	margin-left: 7vw;
}


#tpc-caption-4 {
	margin-top: 46vw;
	margin-left: vw;
}


#tpc-process-link {
	margin-top: 2vw;
	margin-left: vw;
}






/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	}



/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	
	}




/* 1920 x 1080 */
@media screen and (min-width: 1400px) and (max-width: 2600px)	 {
				
	}
		
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
				
	}

