

#tpc-video-1 {
	margin-top: 4vw;
	margin-left: 3vw;
}

#tpc-caption-1 {
	margin-top: 35vw;
	margin-left: 2vw;
}

#tpc-video-2 {
	margin-top: 15vw;
	margin-left: 33vw;
	width: 960px !important;
	height: 540px !important;
	-webkit-box-shadow: -9px 13px 51px -1px rgba(0,0,0,0.21);
	-moz-box-shadow: -9px 13px 51px -1px rgba(0,0,0,0.21);
	box-shadow: -9px 13px 51px -1px rgba(0,0,0,0.21);
}

#tpc-caption-2 {
	margin-top: 47vw;
	margin-left: 27vw;
}

/*
#tpc-video-3 {
	margin-top: 15vw;
	margin-left: 30vw;
	width: 640px !important;
	height: 360px !important;
}
*/

#tpc-process-link {
	margin-top: 30vw;
	margin-left: 40vw;
}





/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	}



/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	
	}




/* 1920 x 1080 */
@media screen and (min-width: 1400px) and (max-width: 2600px)	 {
				
	}
		
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
				
	}

