/* think-play-create.css by Jeffrey Paletta */


#tpc-video-1 {
	width: 1080px;
	height: 648px;
	margin-top: -3vw;
	margin-left: -1vw;
}

#tpc-caption-1 {
	margin-top: 18vw;
	margin-left: 53vw;
}

#tpc-image-tiles {
	width: 440px;
	height: 113px;
	margin-top: 15vw;
	margin-left: 5vw;
}

#tpc-caption-2 {
	margin-top: 11vw;
	margin-left: 11vw;
}

#tpc-video-2 {
	width: 820px;
	height: 461px;
	margin-top: 24vw;
	margin-left: 31vw;
}

#tpc-caption-3 {
	margin-top: 62vw;
	margin-left: 27vw;
}

#tpc-caption-3-small {
	display: none;
}

#tpc-video-3 {
	width: 440px;
	height: 440px;
	margin-top: 22vw;
	margin-left: 7vw;
}

#tpc-caption-4 {
	margin-top: 59vw;
	margin-left: 15vw;
}

#tpc-process-link {
	margin-top: 2vw;
	margin-left: 15vw;
	padding-bottom: 200px !important;
}








/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	#tpc-caption-1,
	#tpc-caption-2,
	#tpc-caption-3,
	#tpc-caption-3-small,
	#tpc-caption-4,
	#tpc-process-link {
		font-size: 8px !important;
		line-height: 13px !important;
	}
	
	#tpc-video-1 {
		width: 545px !important;
		height: 327px !important;
		margin-top: 3vw !important;
		margin-left: -4vw;
	}
	
	#tpc-caption-1 {
		margin-top: 10.5vw !important;
		margin-left: 52vw !important;
	}
	
	#tpc-image-tiles {
		width: 220px !important;
		height: 52px !important;
		margin-top: 10vw;
		margin-left: 6vw !important;
	}
	
	#tpc-video-2 {
		width: 340px !important;
		height: 191px !important;
		margin-top: 18vw;
		margin-left: 32vw !important;
	}
	
	#tpc-caption-2 {
		margin-top: 9vw;
		margin-left: 14vw !important;
	}
	
	#tpc-caption-3 {
		display: none !important;
	}
	
	#tpc-caption-3-small {
		display: block !important;
		margin-top: 52vw !important;
		margin-left: 29vw !important;
	}
	
	#tpc-video-3 {
		width: 190px !important;
		height: 190px !important;
		margin-top: 17vw;
		margin-left: 7vw;
	}
	
	#tpc-caption-4 {
		margin-top: 47vw;
		margin-left: 2vw;
	}
	
	#tpc-process-link {
		margin-top: 2vw;
		margin-left: 2vw;
		padding-bottom: 120px !important;
	}
}










/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
	
	#tpc-caption-1,
	#tpc-caption-2,
	#tpc-caption-3,
	#tpc-caption-3-small,
	#tpc-caption-4,
	#tpc-process-link {
		font-size: 11px !important;
		line-height: 18px !important;
	}
	
	#tpc-video-1 {
		width: 840px !important;
		height: 504px !important;
		margin-top: 1vw !important;
		margin-left: -2vw;
	}
	
	#tpc-caption-1 {
		margin-top: 18vw !important;
		margin-left: 50vw;
	}
	
	#tpc-image-tiles {
		width: 248px !important;
		height: 60px !important;
	}
	
	#tpc-video-2 {
		width: 620px !important;
		height: 348px !important;
	}
			
	#tpc-video-3 {
		width: 302px !important;
		height: 302px !important;
	}
		
	#tpc-process-link {
		padding-bottom: 200px !important;
	}
}
		
		
		
		
		
		
		
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
	
	#tpc-video-1 {
		width: 1200px;
		height: 720px;
	}
		
	#tpc-image-tiles {
		width: 500px;
		height: 128px;
	}
	
	#tpc-caption-2 {
		margin-left: 23vw;
	}
	
	#tpc-video-2 {
		width: 910px;
		height: 512px;
	}
		
	#tpc-video-3 {
		width: 500px;
		height: 500px;
	}
	
}

