
		

	
#wooemmaii-video-1 {
	margin-top: 12vw;
	margin-left: -1vw;
	width: 1100px !important;
	height: 660px !important;
}

#wooemmaii-caption-1 {
	margin-top: 48vw;
	margin-left: 55vw;
	}
		




/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	}



/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	
	}




/* 1920 x 1080 */
@media screen and (min-width: 1400px) and (max-width: 2600px)	 {
				
	}
		
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
				
	}

				
				
				
				
				
				
				
				
				
				
				
