/* duck-hunt.css by Jeffrey Paletta */

#duck-image-1 {
	margin-top: 28vw;
	margin-left: 32vw;
	width: 800px !important;
	height: 452px !important;
	-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
}

#duck-caption-1 {
	margin-top: 20vw;
	margin-left: 3vw;
	max-width: 390px;
}

#duck-image-prompt {
	width: 350px !important;
	height: 210px !important;
	margin-top: 12vw;
	margin-left: 12vw;
}

#duck-caption-1b {
	margin-top: 22vw;
	margin-left: 49vw;
	max-width: 390px;
}

#duck-image-gun {
	margin-top: 10vw;
	margin-left: 25vw;
	width: 500px !important;
	height: 199px !important;
}
	
#duck-caption-2 {
	margin-top: 28vw;
	margin-left: 39vw;
	max-width: 350px;
}

#duck-image-sprite {
	margin-top: 10vw;
	margin-left: 23vw;
	width: 300px !important;
	height: 258px !important;
}

#duck-caption-2b {
	margin-top: 18vw;
	margin-left: 52vw;
	max-width: 380px;
}

#duck-video-1 {
	width: 850px !important;
	height: 478px !important;
	margin-top:14vw;
	margin-left: 25vw;
	-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
}

	
#duck-process {
	margin-top: 47vw;
	margin-left: 25vw;
/* 	padding-bottom: 200px; */

}


#duck-code {
	border:none;
	width:600px;
	height: 800px !important;
	margin-top: 28vw;
	margin-left: 7vw;
	padding-bottom: 800px !important;
}
	
	
	
	
/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	#duck-caption-1,
	#duck-caption-1b,
	#duck-caption-2,
	#duck-caption-2b,
	#duck-process {
	}
	
	#duck-image-1 {
		margin-top: 40vw;
		width: 364px !important;
		height: 205px !important;
	}
	
	#duck-image-prompt {
		width: 180px !important;
		height: 103px !important;
	}
	
	#duck-image-gun {
		width: 269px !important;
		height: 106px !important;
	}

	#duck-image-sprite {
		width: 133px !important;
		height: 114px !important;
	}
	
	#duck-caption-2b {
		margin-left: 53vw;
	}
	
	#duck-video-1 {
		width: 400px !important;
		height: 224px !important;
	}
	
	#duck-process {
	}
	
	#duck-code {
		display: none !important;
/* 		width:300px; */
/* 		height: 600px !important; */
	}
}



/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
	
	#duck-caption-1,
	#duck-caption-1b,
	#duck-caption-2,
	#duck-caption-2b,
	#duck-process {
	}
	
	#duck-image-1 {
		width: 560px !important;
		height: 316px !important;
	}
	
	#duck-image-prompt {
		width: 245px !important;
		height: 142px !important;
	}
		
	#duck-image-gun {
		width: 380px !important;
		height: 151px !important;
	}
		
	#duck-image-sprite {
		width: 210px !important;
		height: 180px !important;
	}
	
	#duck-video-1 {
		width: 595px !important;
		height: 334px !important;
	}
	
	#duck-code {
		width:400px;
		height: 700px !important;
	}
}



/* 1920 x 1080 */
@media screen and (min-width: 1600px) and (max-width: 2099px)	 {
	
	
			
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
	
	#duck-image-1 {
		width: 960px !important;
		height: 585px !important;
	}
	
	#duck-image-prompt {
		width: 420px !important;
		height: 244px !important;
	}
	
	#duck-image-gun {
/* 		width: 720px !important; */
/* 		height: 286px !important; */
	}
		
	#duck-image-sprite {
		width: 350px !important;
		height: 301px !important;
	}
	
	#duck-video-1 {
		width: 1020px !important;
		height: 573px !important;
	}
	
	#duck-code {
		width:700px;
		height: 800px !important;
	}
}
