/* duck-hunt.css by Jeffrey Paletta */

#duck-image-1 {
	margin-top: 28vw;
	margin-left: 32vw;
	width: 800px !important;
	height: 488px !important;
}

#duck-caption-1 {
	margin-top: 17vw;
	margin-left: vw;
}

#duck-image-2 {
	margin-top: 5vw;
	margin-left: 5vw;
	width: 700px !important;
	height: 279px !important;
}
	
#duck-caption-2 {
	margin-top: 15vw;
	margin-left: 57vw;
/* 	padding-bottom: 200px; */
}

#duck-video-1 {
	width: 1000px !important;
	height: 625px !important;
	margin-top:45vw;
	margin-left: 25vw;
	padding-bottom: 200px;
}

/*
#duck-source {
	border:none;
	width:40%;
	margin-top: 15vw;
	margin-left: 40vw;
}
*/
	
#duck-process {
	margin-top: 43vw;
	margin-left: 27vw;
	padding-bottom: 230px;
}
	
	
	
	
/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	#duck-caption-1,
	#duck-caption-2,
	#duck-process {
		font-size: 8px !important;
		line-height: 13px !important;
	}
	
	#duck-image-1 {
		margin-top: 3vw;
		margin-left: 35vw;
		width: 364px !important;
		height: 221px !important;
	}
	
	#duck-caption-1 {
		margin-top: 25vw;
		margin-left: vw;
	}
	
	#duck-image-2 {
		margin-top: 10vw;
		margin-left: 8vw;
		width: 317px !important;
		height: 126px !important;
	}
		
	#duck-caption-2 {
		margin-top: 20vw;
		margin-left: 51vw;
	/* 	padding-bottom: 200px; */
	}
	
	#duck-video-1 {
		width: 455px !important;
		height: 284px !important;
		margin-top:62vw;
		margin-left: 23vw;
		padding-bottom: 200px;
	}
	
	#duck-process {
		margin-top: 54vw;
		margin-left: 25vw;
		padding-bottom: 80px;
	}
}



/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
	
	#duck-caption-1,
	#duck-caption-2,
	#duck-process {
		font-size: 11px !important;
		line-height: 18px !important;
	}
	
	#duck-image-1 {
		margin-top: -3vw;
		margin-left: 35vw;
		width: 560px !important;
		height: 341px !important;
	}
	
	#duck-caption-1 {
		margin-top: 17vw;
		margin-left: vw;
	}
	
	#duck-image-2 {
		margin-top: 5vw;
		margin-left: 8vw;
		width: 490px !important;
		height: 195px !important;
	}
		
	#duck-caption-2 {
		margin-top: 17vw;
		margin-left: 54vw;
	/* 	padding-bottom: 200px; */
	}
	
	#duck-video-1 {
		width: 700px !important;
		height: 437px !important;
		margin-top:54vw;
		margin-left: 25vw;
		padding-bottom: 200px;
	}
	
	#duck-process {
		margin-top: 50vw;
		margin-left: 27vw;
		padding-bottom: 230px;
	}
}



/* 1920 x 1080 */
@media screen and (min-width: 1600px) and (max-width: 2099px)	 {
	
	
	#duck-image-1 {
/* 		margin-top: -3vw; */
		margin-left: 30vw;
		width: 800px !important;
		height: 488px !important;
	}
	
	#duck-caption-1 {
		margin-top: 17vw;
		margin-left: vw;
	}
	
	#duck-br-hide-1 {
		display: none !important;
	}
	
	#duck-image-2 {
		margin-top: 5vw;
		margin-left: 5vw;
		width: 700px !important;
		height: 279px !important;
	}
		
	#duck-caption-2 {
		margin-top: 17vw;
		margin-left: 57vw;
	/* 	padding-bottom: 200px; */
	}
	
	#duck-video-1 {
		width: 890px !important;
		height: 500px !important;
		margin-top:47vw;
		margin-left: 27vw;
		padding-bottom: 200px;
	}
	
	/*
	#duck-source {
		border:none;
		width:40%;
		margin-top: 15vw;
		margin-left: 40vw;
	}
	*/
		
	#duck-process {
		margin-top: 43vw;
		margin-left: 27vw;
		padding-bottom: 230px;
	}
}
		
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
	
	#duck-image-1 {
		margin-top: -3vw;
		margin-left: 35vw;
		width: 960px !important;
		height: 585px !important;
	}
	
	#duck-caption-1 {
		margin-top: 17vw;
		margin-left: vw;
	}
	
	#duck-image-2 {
		margin-top: 5vw;
		margin-left: 9vw;
		width: 840px !important;
		height: 334px !important;
	}
		
	#duck-caption-2 {
		margin-top: 18vw;
		margin-left: 57vw;
	/* 	padding-bottom: 200px; */
	}
	
	#duck-video-1 {
		width: 1200px !important;
		height: 750px !important;
		margin-top:48vw;
		margin-left: 27vw;
		padding-bottom: 200px;
	}
	
	/*
	#duck-source {
		border:none;
		width:40%;
		margin-top: 15vw;
		margin-left: 40vw;
	}
	*/
		
	#duck-process {
		margin-top: 50vw;
		margin-left: 30vw;
		padding-bottom: 140px;
	}
}
