/* education.css by Jeffrey Paletta */

#education-video-1 {
	width: 1149px;
	height: 710px;
	margin-top:-2vw; 
	margin-left:24vw;
}

#education-caption-1 {
	margin-left:2vw; 
	margin-top: 48vw;
}

#education-image-1 {
	width: 410px;
	height: 298px;
	margin-top: 12vw;
	margin-left: 14vw;
	-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
}

#education-caption-2 {
	margin-left: 52vw; 
	margin-top: 20vw;
}

.education-gallery-container{
  max-width:600px !important;
  position:relative;
  margin-top:11vw !important;
  margin-left: 34vw !important;
}

		#galley-overlay{
		  cursor: pointer;
		  position:absolute;
		  top:0;
		  left:0;
		  height:100%;
		  width:100%;
		  background:#000;
		  opacity:.7;
		  z-index:2000;
		  display:none;
		}
		
		.education-gallery-image{
		  position:relative;
		  float:left;
		  height:100px !important;
		  width:150px !important;
		  background:#fff;
		  margin:15px !important;
		}
		
		.education-photo-image{
		  cursor: pointer;
		  position:relative;
		  top:0px;
		  left:0px;
		  width:150px !important;
		  z-index:1000;
		  opacity:1;
		  transition: width 1s, top 1s, left 1s, opacity 1s, z-index .01s;
		}
		
		.education-photo-image:hover{
		  width:150px !important;
		  top:-15px;
		  left: 0px;
		  z-index:1001;
		  opacity:1;
		}
		
		.photo-selected{
		  cursor:default;
		  z-index:2001;
		  width:500px !important;
		  opacity:1;
		  top:-20px;
		  left:-200px;
		  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
		}
		
		.photo-selected:hover{
		  width:500px;
		  top:-50px;
		  left:-50px;
		  z-index:2001;
		  opacity:1;
		  top:-20px;
		  left:-200px;
		}
		
#education-caption-3 {
	margin-left:5vw; 
	margin-top: 18vw;
}

#education-process {
	margin-top: 1vw;
	margin-left: 5vw;
	padding-bottom: 150px;
}

#education-image-2 {
/* 	display: none; */
	width: 345px;
	height: 500px;
	margin-top: 4vw;
	margin-left: 20vw;
	-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
	box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
}

#education-spacer {
	padding-bottom: 200px;
}





/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	#education-caption-1,
	#education-caption-2,
	#education-caption-3,
	#education-process {
		font-size: 8px !important;
		line-height: 13px !important;
	}
	
	#education-video-1 {
		width: 521px !important;
		height: 322px !important;
		margin-top: -4vw !important; 
		margin-left: 22vw !important;
	}
	
	#education-caption-1 {
		margin-left:-1vw; 
		margin-top: 54vw !important;
	}
	
	#education-image-1 {
		width: 200px !important;
		height: 145px !important;
		margin-top: 7vw;
		margin-left: 12vw;
		-webkit-box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.25) !important;
		-moz-box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.25) !important;
		box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.20) !important;
	}
	
	#education-caption-2 {
		margin-left: 52vw; 
		margin-top: 15vw !important;
	}
	
	.education-gallery-container{
	  max-width:300px !important;
	  margin-top:7vw !important;
	  margin-left: 40vw !important;
	}
	
			.education-gallery-image{
			  height: 43px !important;
			  width: 66px !important;
			  margin: 7px !important;
			}
			
			.education-photo-image{
			  width:66px !important;
			}
			
			.education-photo-image:hover{
			  width:66px !important;
			}
			
	#education-caption-3 {
		margin-left:5vw; 
		margin-top: 18vw;
	}
	
	#education-process {
		margin-top: 1vw;
		margin-left: 5vw;
		padding-bottom: 50px;
	}
	
	#education-image-2 {
/* 		display: none; */
		width: 153px !important;
		height: 221px !important;
		margin-top: 4vw;
		margin-left: 20vw;
		-webkit-box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.25) !important;
		-moz-box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.25) !important;
		box-shadow: 5px 5px 22px -4px rgba(0,0,0,0.20) !important;
	}
}





/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
	
	#education-caption-1,
	#education-caption-2,
	#education-caption-3,
	#education-process {
		font-size: 11px !important;
/* 		line-height: 18px !important; */
	}
	
	#education-video-1 {
		width: 802px !important;
		height: 496px !important;
		margin-top: 0vw; 
		margin-left:27vw;
	}
	
	#education-caption-1 {
/* 		margin-left:2vw;  */
		margin-top: 53vw;
	}
	
	#education-image-1 {
		width: 325px !important;
		height: 236px !important;
/* 		margin-top: 7vw; */
/* 		margin-left: 12vw; */
		-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
		-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
		box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
	}
	
	#education-caption-2 {
/* 		margin-left: 52vw;  */
/* 		margin-top: 15vw !important; */
	}
	
	.education-gallery-container{
	  max-width:450px !important;
/* 	  margin-top:7vw !important; */
/* 	  margin-left: 40vw !important; */
	}
	
			.education-gallery-image{
			  height:69px !important;
			  width:104px !important;
			  margin:11px !important;
			}
			
			.education-photo-image{
			  width:104px !important;
			}
			
			.education-photo-image:hover{
			  width:104px !important;
			}
			
	#education-caption-3 {
/* 		margin-left:5vw;  */
/* 		margin-top: 18vw; */
	}
	
	#education-process {
/* 		margin-top: 1vw; */
/* 		margin-left: 5vw; */
		padding-bottom: 100px;
	}
	
	#education-image-2 {
/* 		display: none; */
		width: 238px !important;
		height: 344px !important;
/* 		margin-top: 4vw; */
/* 		margin-left: 20vw; */
		-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
		-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
		box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
	}
}





/* 1920 x 1080 */
@media screen and (min-width: 1600px) and (max-width: 2099px)	 {
	
	#education-video-1 {
		width: 1149px;
		height: 710px;
/* 		margin-top:-10vw;  */
/* 		margin-left:24vw; */
	}
	
	#education-caption-1 {
/*
		margin-left:2vw; 
		margin-top: 37vw;
*/
	}
	
	#education-image-1 {
		width: 400px;
		height: 290px;
/*
		margin-top: 5vw;
		margin-left: 14vw;
*/
		-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
		-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
		box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
	}
	
	#education-caption-2 {
		margin-left: 52vw; 
		margin-top: 18vw;
	}
	
	.education-gallery-container{
	  max-width:600px !important;
/* 	  margin-top:8vw !important; */
	  margin-left: 34vw !important;
	}
	
			.education-gallery-image{
			  height:100px !important;
			  width:150px !important;
			  margin:15px !important;
			}
			
			.education-photo-image{
			  width:150px !important;
			}
			
			.education-photo-image:hover{
			  width:150px !important;
			}
			
	#education-caption-3 {
/* 		margin-left:5vw;  */
/* 		margin-top: 18vw; */
	}
	
	#education-process {
/* 		margin-top: 1vw; */
/* 		margin-left: 5vw; */
		padding-bottom: 150px;
	}
	
	#education-image-2 {
/* 		display: none; */
		width: 345px;
		height: 500px;
/* 		margin-top: 4vw; */
/* 		margin-left: 20vw; */
		-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
		-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
		box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
	}
	
	#education-spacer {
		padding-bottom: 230px;
	}
}
	
	
		
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
	
	#education-video-1 {
		width: 1380px !important;
		height: 852px !important;
/* 		margin-top:-10vw;  */
/* 		margin-left:24vw; */
	}
	
	#education-caption-1 {
/* 		margin-left:2vw;  */
/* 		margin-top: 35vw; */
	}
	
	#education-image-1 {
		width: 550px !important;
		height: 399px !important;
/* 		margin-top: 6vw; */
/* 		margin-left: 14vw; */
		-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
		-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
		box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
	}
	
	#education-caption-2 {
/* 		margin-left: 52vw;  */
/* 		margin-top: 14vw; */
	}
	
	.education-gallery-container{
	  max-width:750px !important;
/* 	  margin-top:9vw !important; */
/* 	  margin-left: 40vw !important; */
	}
	
			.education-gallery-image{
			  height:120px !important;
			  width:180px !important;
			  margin:12px !important;
			}
			
			.education-photo-image{
			  width:180px !important;
			}
			
			.education-photo-image:hover{
			  width:180px !important;
			}
			
	#education-caption-3 { 
/* 		margin-top: 18vw; */
/* 		margin-left: 5vw; */
	}
	
	#education-process {
		margin-top: 1vw;
		margin-left: 5vw;
		padding-bottom: 250px;
	}
	
	#education-image-2 {
		display: block !important;
		width: 414px !important;
		height: 600px !important;
/* 		margin-top: 3vw; */
/* 		margin-left: 20vw; */
		-webkit-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
		-moz-box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.25);
		box-shadow: 10px 10px 45px -8px rgba(0,0,0,0.20);
	}
}






