/* hamtramck.css by Jeffrey Paletta */



html, body {
	max-width: 100% !important;
	overflow-x: hidden !important;
}








#hamtown-flipbook-02 {
	margin-top: -10vw;
	margin-left: 28vw;
	overflow: hidden;
	width: 1200px !important;
	height: 1200px !important;
}

#hamtown-flipbook-02-small {
	margin-top: -10vw;
	margin-left: 28vw;
	overflow: hidden;
	width: 800px !important;
	height: 1200px !important;
}







#hamtown-flipbook-enlarge {
	margin-top: 37vw;
	margin-left: 28vw;
}





#hamtown-caption-01 {
	margin-top: 22vw !important;
	margin-left: 3vw !important;
/* 	max-width: 355px; */
}

#hamtown-image-posters-1 {
	width: 763px !important;
	height: 414px !important;
	margin-top: 15vw;
	margin-left: 6vw;
}

#hamtown-caption-01b {
	margin-top: 26vw !important;
	margin-left: 52vw !important;
/* 	max-width: 380px; */
}

#hamtown-image-posters-2 {
	width: 650px !important;
	height: 391px !important;
	margin-top: 15vw;
	margin-left: 28vw;
}

#hamtown-caption-02 {
	margin-top: 25vw;
	margin-left: 2vw !important;
/* 	max-width: 390px; */
}

#hamtown-image-menu {
	width: 600px !important;
	height: 468px !important;
	margin-top: 15vw;
	margin-left: 20vw;
}

#hamtown-caption-03 {
	margin-top: 21vw;
	margin-left:9vw;
	z-index: 10000;
/* 	max-width: 380px; */
}

#hamtown-image-bizcards {
	width: 723px !important;
	height: 487px !important;
	margin-top: 14vw;
	margin-left: 12vw;
}

#hamtown-image-maps {
	width: 510px !important;
	height: 408px !important;
	margin-top: 16vw;
	margin-left: 34vw;
}

#hamtown-image-signs {
	width: 450px !important;
	height: 368px !important;
	margin-top: 20vw;
	margin-left: 24vw;
}

#hamtown-caption-04 {
	margin-top: 19vw;
	margin-left: 50vw;
/* 	max-width: 380px; */
}

#hamtown-image-7 {
	width: 652px !important;
	height: 337px !important;
	margin-top: 22vw;
	margin-left: 8vw;
}

#hamtown-image-8 {
	width: 621px !important;
	height: 399px !important;
	margin-top: 18vw;
	margin-left: 22vw;
}

#hamtown-image-logos {
	width: 400px;
	height: 800px;
	margin-top: 22vw;
	margin-left: 3vw;
}

#hamtown-process {
	margin-top: 10vw;
	margin-left: 19vw;
}




/* 800 x 600 */
@media screen and (min-width: 701px) and (max-width: 1199px)  {
	
	#hamtown-caption-01,
	#hamtown-caption-02,
	#hamtown-caption-03,
	#hamtown-caption-04,
	#hamtown-caption-05,
	#hamtown-process {
	}
	
	#hamtown-flipbook-01 {
		margin-top: 18vw !important;
		margin-left: 26vw;
		width: 387px !important;
		height: 289px !important;
	}
	
	#hamtown-flipbook-02 {
	}
	
	#hamtown-flipbook-02-small {
		margin-top: -10vw;
		margin-left: 28vw;
		overflow: hidden;
		width: 1200px !important;
		height: 1200px !important;
	}
	
			#hamtown-flipbook-02, figure#ham-flip-large {
				display: none !important;
				width: 10px !important;
				height: 1px !important;
				max-width: 11px !important;
				max-height: 2px !important;
				opacity: 0.01 !important;
			}
		
	#hamtown-caption-01 {
		margin-top: 59vw !important;
		margin-left: 1vw !important;
	}
	
	#hamtown-image-posters-1 {
		width: 346px !important;
		height: 187px !important;
		margin-top: 4vw;
		margin-left: 6vw;
	}
	
	#hamtown-caption-02 {
		margin-top: 19vw;
		margin-left: 40vw !important;
		padding-bottom: 80px;
	}
	
	#hamtown-image-posters-2 {
		width: 244px !important;
		height: 146px !important;
		margin-top: 4vw;
		margin-left: 44vw;
	}
	
	#hamtown-image-menu {
		width: 240px !important;
		height: 143px !important;
		margin-top: 7vw !important;
		margin-left: 33vw;
	}
	
	#hamtown-caption-03 {
		margin-top: 18vw;
		margin-left: -1vw;
		z-index: 10000;
	}
	
	#hamtown-image-bizcards {
		width: 322px !important;
		height: 216px !important;
		margin-top: -1vw;
		margin-left: 9vw;
	}
	
	#hamtown-image-maps {
		width: 225px !important;
		height: 179px !important;
		margin-top: 4vw;
		margin-left: 34vw;
	}
	
	#hamtown-image-signs {
		width: 227px !important;
		height: 313px !important;
		margin-top: 4vw;
		margin-left: 41vw;
	}
	
	#hamtown-caption-04 {
		margin-top: -3vw;
		margin-left: 12vw;
	}
	
	#hamtown-image-7 {
		width: 283px !important;
		height: 145px !important;
		margin-top: 8vw;
		margin-left: 2vw;
	}
	
	#hamtown-image-8 {
		width: 266px !important;
		height: 170px !important;
		margin-top: 8vw;
		margin-left: 17vw;
	}
	
	#hamtown-image-logos {
		width: 178px;
		height: 356px;
	}
	
	#hamtown-process {
		margin-top: 10vw;
		margin-left: 19vw;
	}
}







/* 1336 x 768 */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
	
	#hamtown-caption-01,
	#hamtown-caption-01b,
	#hamtown-caption-02,
	#hamtown-caption-03,
	#hamtown-caption-04,
	#hamtown-caption-05,
	#hamtown-process {
	}
	
	#hamtown-flipbook-02 {
	}
		
	#hamtown-flipbook-02-small {
		margin-top: -4vw;
		margin-left: 28vw;
		overflow: hidden;
		width: 1200px !important;
		height: 1200px !important;
	}
	
			#hamtown-flipbook-02, figure#ham-flip-large {
				display: none !important;
				width: 10px !important;
				height: 1px !important;
				max-width: 11px !important;
				max-height: 2px !important;
				opacity: 0.01 !important;
			}
	
	#hamtown-flipbook-enlarge {
		margin-top: 35vw !important;
		margin-left: 28vw !important;
	}
	
	#hamtown-image-posters-1 {
		width: 553px !important;
		height: 289px !important;
	}
	
	#hamtown-image-posters-2 {
		width: 453px !important;
		height: 272px !important;
	}
	
	#hamtown-image-menu {
		width: 417px !important;
		height: 325px !important;
	}
	
	#hamtown-image-bizcards {
		width: 502px !important;
		height: 338px !important;
	}
	
	#hamtown-image-maps {
		width: 353px !important;
		height: 282px !important;
	}
	
	#hamtown-image-signs {
		width: 311px !important;
		height: 254px !important;
	}
	
	#hamtown-image-7 {
		width: 450px !important;
		height: 232px !important;
	}
		
	#hamtown-image-logos {
		width: 274px;
		height: 548px;
	}	
}




/* 1920 x 1080 */
@media screen and (min-width: 1600px) and (max-width: 2099px)	 {
	
	#hamtown-flipbook-02-small, figure#ham-flip-small {
		display: none !important;
	}
	
}	
		

/* 2100+ */
@media screen and (min-width: 2100px)	 {
	
	
	#hamtown-flipbook-02 {
		margin-top: -7vw;
		margin-left: 27vw;
		overflow: hidden;
		width: 1200px !important;
		height: 1200px !important;
	}
	
			#hamtown-flipbook-02-small, figure#ham-flip-small {
			display: none !important;
		}
	
	#hamtown-flipbook-enlarge {
		margin-top: 28vw !important;
		margin-left: 46vw !important;
		min-width: 200px !important;
	}
	
	#hamtown-image-posters-1 {
		width: 915px !important;
		height: 496px !important;
	}
	
	#hamtown-image-posters-2 {
		width: 778px !important;
		height: 467px !important;
	}
	
	#hamtown-image-menu {
		width: 716px !important;
		height: 558px !important;
	}
	
	#hamtown-image-bizcards {
		width: 862px !important;
		height: 580px !important;
	}
	
	#hamtown-image-maps {
		width: 607px !important;
		height: 485px !important;
	}
	
	#hamtown-image-signs {
		width: 534px !important;
		height: 436px !important;
	}
	
	#hamtown-image-7 {
		width: 772px !important;
		height: 399px !important;
	}
	
	#hamtown-image-8 {
		width: 735px !important;
		height: 472px !important;
	}
	
	#hamtown-image-logos {
		width: 400px;
		height: 800px;
		margin-left: 40vw;
	}
	
	#hamtown-process {
	}

}






































